Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

test: fix test case of rect-x.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
Labels: none

fix: fix differ in some cases
  packages/vgrammar-core/src/graph/mark/differ.ts
Labels: @pkg/core

perf: optimize Differ and fix spell error
  packages/vgrammar-core/src/component/axis.ts
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/grid.ts
  packages/vgrammar-core/src/component/label.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/component/title.ts
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/graph/mark/differ.ts
  packages/vgrammar-core/src/graph/mark/encode.ts
  packages/vgrammar-core/src/semantic-marks/cell.ts
  packages/vgrammar-core/src/semantic-marks/interval.ts
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/mark.ts
  packages/vgrammar-core/src/view/component.ts
  packages/vgrammar-core/src/view/group.ts
  packages/vgrammar-core/src/view/mark.ts
  share/eslint-config/profile/common.js
Labels: @pkg/core, eslint

docs: update spec of crosshair in some demos
  docs/dev-demos/src/specs/bar-chart.ts
  docs/dev-demos/src/specs/fish-eye-bubbles.ts
  docs/dev-demos/src/specs/jitter-x-symbols.ts
  docs/dev-demos/src/specs/zoomable-scatter-plot.ts
Labels: docs

feat: load graphic creator on demand
  packages/vgrammar-core/__tests__/transforms/jitter.test.ts
  packages/vgrammar-core/__tests__/util.ts
  packages/vgrammar-core/src/core/factory.ts
  packages/vgrammar-core/src/glyph/boxplot.ts
  packages/vgrammar-core/src/glyph/link-path.ts
  packages/vgrammar-core/src/glyph/ripple.ts
  packages/vgrammar-core/src/glyph/tree-path.ts
  packages/vgrammar-core/src/glyph/violin.ts
  packages/vgrammar-core/src/glyph/wave.ts
  packages/vgrammar-core/src/graph/mark/graphic.ts
  packages/vgrammar-core/src/graph/util/graphic.ts
  packages/vgrammar-core/src/index.ts
  packages/vgrammar-full/src/index.ts
  packages/vgrammar-plot/__tests__/util.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, test

docs: update changelog of rush
  common/changes/@visactor/vgrammar-core/perf-scale-coordinate-on-need_2023-12-04-11-22.json
Labels: none

docs: update demos of zh
  docs/site/assets/examples/zh/animate/arrange-animate.md
  docs/site/assets/examples/zh/animate/basic-animate.md
  docs/site/assets/examples/zh/animate/custom-animate.md
  docs/site/assets/examples/zh/animate/loop-animate.md
  docs/site/assets/examples/zh/basic-mark-area/basic-area.md
  docs/site/assets/examples/zh/basic-mark-area/intersection.md
  docs/site/assets/examples/zh/basic-mark-area/percent-area.md
  docs/site/assets/examples/zh/basic-mark-area/stack-area.md
  docs/site/assets/examples/zh/basic-mark-area/vertical-area.md
  docs/site/assets/examples/zh/basic-mark-image/basic-image.md
  docs/site/assets/examples/zh/basic-mark-line/basic-line.md
  docs/site/assets/examples/zh/basic-mark-line/log-line.md
  docs/site/assets/examples/zh/basic-mark-line/segmental-line.md
  docs/site/assets/examples/zh/basic-mark-line/spiral.md
  docs/site/assets/examples/zh/basic-mark-rect/basic-rect.md
  docs/site/assets/examples/zh/basic-mark-rect/bi-direction-rect.md
  docs/site/assets/examples/zh/basic-mark-rect/customized-shape.md
  docs/site/assets/examples/zh/basic-mark-rect/percent-rect.md
  docs/site/assets/examples/zh/basic-mark-rect/range-rect.md
  docs/site/assets/examples/zh/basic-mark-rect/stack-rect.md
  docs/site/assets/examples/zh/basic-mark-rect/symmetry-rect.md
  docs/site/assets/examples/zh/basic-mark-richtext/basic-richtext.md
  docs/site/assets/examples/zh/basic-mark-rule/basic-rule.md
  docs/site/assets/examples/zh/basic-mark-symbol/basic-symbol.md
  docs/site/assets/examples/zh/basic-mark-symbol/bubble.md
  docs/site/assets/examples/zh/basic-mark-symbol/jitter-symbol.md
  docs/site/assets/examples/zh/component/dataZoom.md
  docs/site/assets/examples/zh/component/label.md
  docs/site/assets/examples/zh/component/slider.md
  docs/site/assets/examples/zh/glyph-mark/bar-boxplot.md
  docs/site/assets/examples/zh/glyph-mark/boxplot.md
  docs/site/assets/examples/zh/glyph-mark/candle.md
  docs/site/assets/examples/zh/glyph-mark/horizontal-boxplot.md
  docs/site/assets/examples/zh/glyph-mark/polar-boxplot.md
  docs/site/assets/examples/zh/glyph-mark/ripple.md
  docs/site/assets/examples/zh/glyph-mark/violin.md
  docs/site/assets/examples/zh/performance/progressive-line.md
  docs/site/assets/examples/zh/performance/progressive-rect.md
Labels: docs

test: fix test cases of vgrammar-plot
  packages/vgrammar-plot/__tests__/components/grid.test.ts
  packages/vgrammar-plot/__tests__/components/title.test.ts
  packages/vgrammar-plot/__tests__/marks/interval.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-y.test.ts
  packages/vgrammar-plot/__tests__/marks/rect.test.ts
  packages/vgrammar-plot/__tests__/util.ts
Labels: test

test: fix unit test
  packages/vgrammar-core/__tests__/grammar/mark.test.ts
  packages/vgrammar-core/__tests__/mark/glyph.test.ts
  packages/vgrammar-core/__tests__/mark/group-encode.test.ts
  packages/vgrammar-core/__tests__/mark/group.test.ts
  packages/vgrammar-core/__tests__/mark/rect.test.ts
  packages/vgrammar-core/__tests__/util.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/perf-graphic-transform_2023-12-04-03-06.json
Labels: none

fix: fix grow-cartesian animation
  packages/vgrammar-core/src/graph/animation/animation/grow-cartesian.ts
Labels: @pkg/core

fix: use `isValid` in grow-cartesian
  packages/vgrammar-core/src/graph/animation/animation/grow-cartesian.ts
Labels: @pkg/core

fix: use `isValid` in grow-cartesian
  packages/vgrammar-core/src/graph/animation/animation/grow-cartesian.ts
Labels: @pkg/core

fix: fix grow-cartesian animation
  packages/vgrammar-core/src/graph/animation/animation/grow-cartesian.ts
Labels: @pkg/core
