Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

fix: upgrade vutils from ~0.16.5 to ~0.16.6
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: fix the issue that vrender may auto render during the asynchronous rendering
  packages/vgrammar-core/src/graph/canvas-renderer.ts
  packages/vgrammar-core/src/types/renderer.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

fix: fix type error of view and mark
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

fix: only call reuseCachedGrammars() when need
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

fix: dont release outside stage
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-async-render_2023-11-10-02-33.json
Labels: none

fix: upgrade vrender from ~0.16.8 to ~0.16.13
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

feat: add a new api `removeAllGraphicItems()` in view
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

fix: upgrade vrender from ~0.16.8 to ~0.16.13
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-async-render_2023-11-10-02-33.json
Labels: none

fix: fix type error of view and mark
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

fix: only call reuseCachedGrammars() when need
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

fix: dont release outside stage
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

fix: fix the issue that vrender may auto render during the asynchronous rendering
  packages/vgrammar-core/src/graph/canvas-renderer.ts
  packages/vgrammar-core/src/types/renderer.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

feat: add a new api `removeAllGraphicItems()` in view
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

fix: upgrade vutils from ~0.16.5 to ~0.16.6
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: upgrade vutil from ~0.16.6 to ~0.16.7
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: update pnpm-lark.yaml
  common/config/rush/pnpm-lock.yaml
Labels: none

fix: fix the issue that vrender may auto render during the asynchronous rendering
  packages/vgrammar-core/src/graph/canvas-renderer.ts
  packages/vgrammar-core/src/types/renderer.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-async-render_2023-11-10-02-33.json
Labels: none

fix: fix the error that happens when releas view during renderAsync, fix #75
  packages/vgrammar-core/src/util/grammar-heap.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-quick-release_2023-11-08-11-23.json
Labels: none

chore: update workflow sync-develop
  .github/workflows/sync-develop.yml
Labels: none

fix: fix type error of view and mark
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

fix: only call reuseCachedGrammars() when need
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

fix: upgrade vutils from ~0.16.5 to ~0.16.6
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: update pnpm-lark.yaml
  common/config/rush/pnpm-lock.yaml
Labels: none

fix: fix the error that happens when releas view during renderAsync, fix #75
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/dataflow.ts
Labels: @pkg/core

fix: upgrade vutil from ~0.16.6 to ~0.16.7
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: upgrade vrender from ~0.16.8 to ~0.16.13
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: dont release outside stage
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

feat: add a new api `removeAllGraphicItems()` in view
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

chore: upgrade workflow of sync-develop
  .github/workflows/sync-develop.yml
Labels: none

feat: add `skipTheme` to mark to allow theme merge
  packages/vgrammar-core/src/component/axis.ts
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/grid.ts
  packages/vgrammar-core/src/component/label.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/component/title.ts
  packages/vgrammar-core/src/types/mark.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/feat-skip-theme_2023-11-13-08-24.json
Labels: none

feat: add `skipTheme` to mark to allow theme merge
  packages/vgrammar-core/src/component/axis.ts
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/grid.ts
  packages/vgrammar-core/src/component/label.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/component/title.ts
  packages/vgrammar-core/src/types/mark.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/feat-skip-theme_2023-11-13-08-24.json
Labels: none

chore: upgrade workflow of sync-develop
  .github/workflows/sync-develop.yml
Labels: none

perf: refactor `getLinePoints()`, reduce the create of new objects
  packages/vgrammar-core/src/graph/attributes/helpers.ts
Labels: @pkg/core

fix: axisCount should be sync to scale
  packages/vgrammar-core/src/component/axis.ts
  packages/vgrammar-core/src/component/grid.ts
  packages/vgrammar-core/src/parse/scale.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/types/scale.ts
  packages/vgrammar-core/src/types/signal.ts
  packages/vgrammar-core/src/view/scale.ts
Labels: @pkg/core
