Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

chore: rush change log
  common/changes/@visactor/vgrammar-core/feat-sampling_2023-10-19-09-08.json
Labels: none

feat(sampling): add aggregation sampling methods
  docs/dev-demos/src/indexes.ts
  docs/dev-demos/src/specs/line-chart-overlap.ts
  docs/dev-demos/src/specs/line-chart-sampling.ts
  packages/vgrammar-core/__tests__/grammar/mark.test.ts
  packages/vgrammar-core/__tests__/transforms/lttb-sample.test.ts
  packages/vgrammar-core/__tests__/transforms/sampling.test.ts
  packages/vgrammar-core/src/transforms/data/sampling.ts
  packages/vgrammar-core/src/transforms/index.ts
  packages/vgrammar-core/src/transforms/util/util.ts
  packages/vgrammar-core/src/types/transform.ts
  packages/vgrammar-full/src/index.ts
  packages/vgrammar-plot/__tests__/util.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, test, docs

chore: rename function
  packages/vgrammar-core/src/transforms/data/sampling.ts
Labels: @pkg/core

fix: updrade vrender from ~0.16.3 to ~0.16.8, fix DataZoom attrs
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/__tests__/component/datazoom.test.ts
  packages/vgrammar-core/package.json
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: @pkg/core, docs

fix: set version of vrender to 0.16.6
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: fix vrender to 0.16.4
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: fix vrender to 0.16.5
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

feat: support DataLabel in line/area mark
  docs/dev-demos/src/plot/line.ts
  packages/vgrammar-core/src/component/label.ts
  packages/vgrammar-core/src/theme/common/component.ts
  packages/vgrammar-core/src/theme/dark.ts
  packages/vgrammar-core/src/types/theme.ts
Labels: @pkg/core, docs

chore: update rush change log
  common/changes/@visactor/vgrammar-core/feat-animation-spec_2023-10-18-13-12.json
  packages/vgrammar-core/__tests__/util.ts
Labels: test

feat: support animation spec
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/main.ts
  docs/dev-demos/src/specs/pie-animation.ts
  packages/vgrammar-core/src/graph/animation/animate.ts
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/graph/glyph-element.ts
  packages/vgrammar-core/src/types/animate.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core, docs

chore: rename function
  packages/vgrammar-core/src/transforms/data/sampling.ts
Labels: @pkg/core

feat: stop async dataflow when releasing
  packages/vgrammar-core/src/view/dataflow.ts
Labels: @pkg/core

fix(sampling): delete assignment logic
  docs/dev-demos/src/specs/line-chart-sampling.ts
  packages/vgrammar-core/src/transforms/data/sampling.ts
Labels: @pkg/core, docs

feat(sampling): add aggregation sampling methods
  docs/dev-demos/src/indexes.ts
  docs/dev-demos/src/specs/line-chart-overlap.ts
  docs/dev-demos/src/specs/line-chart-sampling.ts
  packages/vgrammar-core/__tests__/grammar/mark.test.ts
  packages/vgrammar-core/__tests__/transforms/lttb-sample.test.ts
  packages/vgrammar-core/__tests__/transforms/sampling.test.ts
  packages/vgrammar-core/src/transforms/data/sampling.ts
  packages/vgrammar-core/src/transforms/index.ts
  packages/vgrammar-core/src/transforms/util/util.ts
  packages/vgrammar-core/src/types/transform.ts
  packages/vgrammar-full/src/index.ts
  packages/vgrammar-plot/__tests__/util.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, test, docs

chore: rush change log
  common/changes/@visactor/vgrammar-core/feat-sampling_2023-10-19-09-08.json
Labels: none

fix: updrade vrender from ~0.16.3 to ~0.16.8, fix DataZoom attrs
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/__tests__/component/datazoom.test.ts
  packages/vgrammar-core/package.json
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: @pkg/core, docs

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/feat-label-of-line_2023-10-19-08-55.json
Labels: none

fix: upgrade vrender and vutil
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

feat: suppor function fort option.point in move animation
  packages/vgrammar-core/src/graph/animation/animation/move.ts
  packages/vgrammar-core/src/types/animate.ts
Labels: @pkg/core

feat: suppor function fort option.point in move animation
  packages/vgrammar-core/src/graph/animation/animation/move.ts
  packages/vgrammar-core/src/types/animate.ts
Labels: @pkg/core

docs: update livedemo in guide
  docs/site/assets/guide/en/guides/chart.md
  docs/site/assets/guide/en/guides/marks/base.md
  docs/site/assets/guide/en/guides/marks/basic-mark.md
  docs/site/assets/guide/en/guides/marks/component.md
  docs/site/assets/guide/en/guides/marks/glyph-mark.md
  docs/site/assets/guide/en/guides/marks/semantic-mark.md
  docs/site/assets/guide/en/guides/quick-start.md
  docs/site/assets/guide/zh/guides/chart.md
  docs/site/assets/guide/zh/guides/marks/base.md
  docs/site/assets/guide/zh/guides/marks/basic-mark.md
  docs/site/assets/guide/zh/guides/marks/component.md
  docs/site/assets/guide/zh/guides/marks/glyph-mark.md
  docs/site/assets/guide/zh/guides/marks/semantic-mark.md
  docs/site/assets/guide/zh/guides/quick-start.md
  docs/site/libs/update-example-reference.js
  docs/site/package.json
Labels: docs

chore: update workflow trigger of symc-develop
  .github/workflows/sync-develop.yml
Labels: none

chore: update workflow trigger of symc-develop
  .github/workflows/sync-develop.yml
Labels: none

docs: update livedemo in guide
  docs/site/assets/guide/en/guides/chart.md
  docs/site/assets/guide/en/guides/marks/base.md
  docs/site/assets/guide/en/guides/marks/basic-mark.md
  docs/site/assets/guide/en/guides/marks/component.md
  docs/site/assets/guide/en/guides/marks/glyph-mark.md
  docs/site/assets/guide/en/guides/marks/semantic-mark.md
  docs/site/assets/guide/en/guides/quick-start.md
  docs/site/assets/guide/zh/guides/chart.md
  docs/site/assets/guide/zh/guides/marks/base.md
  docs/site/assets/guide/zh/guides/marks/basic-mark.md
  docs/site/assets/guide/zh/guides/marks/component.md
  docs/site/assets/guide/zh/guides/marks/glyph-mark.md
  docs/site/assets/guide/zh/guides/marks/semantic-mark.md
  docs/site/assets/guide/zh/guides/quick-start.md
  docs/site/libs/update-example-reference.js
  docs/site/package.json
Labels: docs

fix: fix common attribute transform and animate of mark
  packages/vgrammar-core/src/graph/attributes/common.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

fix: register Cell and Interval in vgrammar-full
  packages/vgrammar-full/src/index.ts
Labels: none

fix: register Cell and Interval in vgrammar-full
  packages/vgrammar-full/src/index.ts
Labels: none

fix: fix common attribute transform and animate of mark
  packages/vgrammar-core/src/graph/attributes/common.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

chore: update workflow trigger of symc-develop
  .github/workflows/sync-develop.yml
Labels: none

feat: suppor function fort option.point in move animation
  packages/vgrammar-core/src/graph/animation/animation/move.ts
  packages/vgrammar-core/src/types/animate.ts
Labels: @pkg/core

fix: register Cell and Interval in vgrammar-full
  packages/vgrammar-full/src/index.ts
Labels: none

fix: fix common attribute transform and animate of mark
  packages/vgrammar-core/src/graph/attributes/common.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

docs: update livedemo in guide
  docs/site/assets/guide/en/guides/chart.md
  docs/site/assets/guide/en/guides/marks/base.md
  docs/site/assets/guide/en/guides/marks/basic-mark.md
  docs/site/assets/guide/en/guides/marks/component.md
  docs/site/assets/guide/en/guides/marks/glyph-mark.md
  docs/site/assets/guide/en/guides/marks/semantic-mark.md
  docs/site/assets/guide/en/guides/quick-start.md
  docs/site/assets/guide/zh/guides/chart.md
  docs/site/assets/guide/zh/guides/marks/base.md
  docs/site/assets/guide/zh/guides/marks/basic-mark.md
  docs/site/assets/guide/zh/guides/marks/component.md
  docs/site/assets/guide/zh/guides/marks/glyph-mark.md
  docs/site/assets/guide/zh/guides/marks/semantic-mark.md
  docs/site/assets/guide/zh/guides/quick-start.md
  docs/site/libs/update-example-reference.js
  docs/site/package.json
Labels: docs

chore: update workflow sync-develop
  .github/workflows/sync-develop.yml
Labels: none

fix: fix the error that happens when releas view during renderAsync, fix #75
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/dataflow.ts
Labels: @pkg/core

fix: fix the error that happens when releas view during renderAsync, fix #75
  packages/vgrammar-core/src/util/grammar-heap.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-quick-release_2023-11-08-11-23.json
Labels: none

fix: fix the error that happens when releas view during renderAsync, fix #75
  packages/vgrammar-core/src/util/grammar-heap.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-quick-release_2023-11-08-11-23.json
Labels: none

fix: fix the error that happens when releas view during renderAsync, fix #75
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/dataflow.ts
Labels: @pkg/core
