Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-remove-graphic-itenms_2023-11-17-04-13.json
Labels: none

fix: fix error of dataflow when some grammar element is release
  packages/vgrammar-core/src/view/dataflow.ts
Labels: @pkg/core

fix: upgrade vutil to ~0.16.11, vrender to ~0.16.16
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: element should reset graphicItem when `removeAllGraphicItems()` is called
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/types/element.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

test: update test cases of vgrammar-plot
  packages/vgrammar-plot/__tests__/marks/interval.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
Labels: none

chore: optimize release workflows
  .github/workflows/release.yml
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/perf-init-graphic-item_2023-11-20-08-05.json
Labels: none

perf: optmize the performance of initGraphicItem(), only call `onBeforeAttributeUpdate()` when need
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

fix: fix workflow of sync-develop
  .github/workflows/sync-develop.yml
Labels: none

feat: add context api for mark
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/api/line-animation.ts
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core, docs

chore: add change log
  common/changes/@visactor/vgrammar-core/feat-context-api_2023-11-20-13-39.json
Labels: none

feat: add context api for mark
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/api/line-animation.ts
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core, docs

chore: add change log
  common/changes/@visactor/vgrammar-core/feat-context-api_2023-11-20-13-39.json
Labels: none

fix: upgrade vrender to 0.17.0
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: fix componentOptions of vrender-components
  packages/vgrammar-core/src/component/axis.ts
  packages/vgrammar-core/src/component/grid.ts
  packages/vgrammar-core/src/core/factory.ts
Labels: @pkg/core

fix: add props `skipDefault` to component when the `skipTheme` of mark is true
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/graph/util/graphic.ts
  packages/vgrammar-core/src/view/component.ts
Labels: @pkg/core

build: prerelease version 0.10.0-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-full/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
Labels: docs

perf: move `enableSegments` to spec
  packages/vgrammar-core/src/graph/attributes/transform.ts
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/graph/glyph-element.ts
  packages/vgrammar-core/src/types/mark.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/perf-move-enable-segments-to-spec_2023-11-21-09-33.json
Labels: none

docs: update demo that about `enableSegments`
  docs/dev-demos/src/specs/area-mark.ts
  docs/dev-demos/src/specs/line-chart-segments.ts
  docs/dev-demos/src/specs/line-mark.ts
  docs/dev-demos/src/specs/simple-area-chart.ts
  docs/site/assets/examples/en/basic-mark-line/segmental-line.md
  docs/site/assets/examples/zh/basic-mark-line/segmental-line.md
Labels: docs

test: update test case that about enableSegments
  packages/vgrammar-core/__tests__/mark/group-encode.test.ts
  packages/vgrammar-core/__tests__/mark/line.test.ts
Labels: none

fix: upgrade vrender to 0.17.0
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: add props `skipDefault` to component when the `skipTheme` of mark is true
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/graph/util/graphic.ts
  packages/vgrammar-core/src/view/component.ts
Labels: @pkg/core

feat: add optimize param to Stage
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

fix: fix componentOptions of vrender-components
  packages/vgrammar-core/src/component/axis.ts
  packages/vgrammar-core/src/component/grid.ts
  packages/vgrammar-core/src/core/factory.ts
Labels: @pkg/core

fix: remove transfrom of rect and fix env
  packages/vgrammar-core/src/env.ts
  packages/vgrammar-core/src/graph/attributes/transform.ts
  packages/vgrammar-full/src/index.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core

feat: support animation delay after
  docs/dev-demos/src/specs/bar-animation.ts
  packages/vgrammar-core/src/graph/animation/animate.ts
  packages/vgrammar-core/src/graph/animation/animator.ts
  packages/vgrammar-core/src/graph/animation/config.ts
  packages/vgrammar-core/src/graph/constants.ts
  packages/vgrammar-core/src/types/animate.ts
Labels: @pkg/core, docs

chore: update change log
  common/changes/@visactor/vgrammar-core/feat-delay-after_2023-11-22-06-58.json
Labels: none

test: update test cases releted to rects
  docs/dev-demos/src/api/glyph.ts
  docs/dev-demos/src/specs/large-glyph.ts
  packages/vgrammar-core/__tests__/glyph/boxplot.test.ts
  packages/vgrammar-core/__tests__/graph/attribute.test.ts
  packages/vgrammar-core/__tests__/mark/group.test.ts
  packages/vgrammar-core/__tests__/mark/rect.test.ts
  packages/vgrammar-plot/__tests__/marks/interval.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-y.test.ts
  packages/vgrammar-plot/__tests__/marks/rect.test.ts
Labels: docs

test: fix test case of rect-x.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
Labels: none

build: prerelease version 0.10.0-alpha.2
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-full/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
Labels: docs

docs: update demo that about `enableSegments`
  docs/dev-demos/src/specs/area-mark.ts
  docs/dev-demos/src/specs/line-chart-segments.ts
  docs/dev-demos/src/specs/line-mark.ts
  docs/dev-demos/src/specs/simple-area-chart.ts
  docs/site/assets/examples/en/basic-mark-line/segmental-line.md
  docs/site/assets/examples/zh/basic-mark-line/segmental-line.md
Labels: docs

test: update test case that about enableSegments
  packages/vgrammar-core/__tests__/mark/group-encode.test.ts
  packages/vgrammar-core/__tests__/mark/line.test.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/perf-move-enable-segments-to-spec_2023-11-21-09-33.json
Labels: none

perf: move `enableSegments` to spec
  packages/vgrammar-core/src/graph/attributes/transform.ts
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/graph/glyph-element.ts
  packages/vgrammar-core/src/types/mark.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

feat: support animation delay after
  docs/dev-demos/src/specs/bar-animation.ts
  packages/vgrammar-core/src/graph/animation/animate.ts
  packages/vgrammar-core/src/graph/animation/animator.ts
  packages/vgrammar-core/src/graph/animation/config.ts
  packages/vgrammar-core/src/graph/constants.ts
  packages/vgrammar-core/src/types/animate.ts
Labels: @pkg/core, docs

chore: update change log
  common/changes/@visactor/vgrammar-core/feat-delay-after_2023-11-22-06-58.json
Labels: none

test: update test cases of vgrammar-plot
  packages/vgrammar-plot/__tests__/marks/interval.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/perf-init-graphic-item_2023-11-20-08-05.json
Labels: none

chore: optimize release workflows
  .github/workflows/release.yml
Labels: none
