Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

feat(label): pass over labelIndex in label component
  packages/vgrammar-core/src/component/label.ts
Labels: @pkg/core

feat(label): pass over labelIndex in label component
  packages/vgrammar-core/src/component/label.ts
Labels: @pkg/core

docs: update rush changelog
  common/changes/@visactor/vgrammar-core/feat-pass_over_dataLabel_index_2023-09-25-03-48.json
Labels: none

feat: add crosshair component
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

feat: register filter&popover interaction
  docs/dev-demos/src/api/slider.ts
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, docs

fix: the DragNDrop and Gesture's root should be stage
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

chore: update rush change
  common/changes/@visactor/vgrammar-core/fix-drag-and-gesture_2023-09-25-09-40.json
Labels: none

fix: the DragNDrop and Gesture's root should be stage
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

chore: update rush change
  common/changes/@visactor/vgrammar-core/fix-drag-and-gesture_2023-09-25-09-40.json
Labels: none

chore: close enableParallelism of rush command lines
  common/config/rush/command-line.json
Labels: none

feat: add filter demo
  docs/dev-demos/src/api/brush.ts
  docs/dev-demos/src/api/player.ts
  docs/dev-demos/src/api/scrollbar-filter.ts
  docs/dev-demos/src/indexes.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core, docs

feat: add rollup & drill down & popover demo
  docs/dev-demos/src/api/drill-down.ts
  docs/dev-demos/src/api/tooltip.ts
  docs/dev-demos/src/indexes.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core, docs

feat: register interaction with components
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

feat: support multiple interaction
  docs/dev-demos/src/api/tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core, docs

chore: close enableParallelism of rush command lines
  common/config/rush/command-line.json
Labels: none

chore: update rush change
  common/changes/@visactor/vgrammar-core/fix-drag-and-gesture_2023-09-25-09-40.json
Labels: none

feat(label): pass over labelIndex in label component
  packages/vgrammar-core/src/component/label.ts
Labels: @pkg/core

fix: the DragNDrop and Gesture's root should be stage
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

docs: update rush changelog
  common/changes/@visactor/vgrammar-core/feat-pass_over_dataLabel_index_2023-09-25-03-48.json
Labels: none

chore: remove filter logic of components & tooltip & crosshair
  docs/dev-demos/src/api/bar.ts
  docs/dev-demos/src/api/brush.ts
  docs/dev-demos/src/api/line.ts
  docs/dev-demos/src/api/polar-line.ts
  docs/dev-demos/src/api/scrollbar-filter.ts
  docs/dev-demos/src/api/slider.ts
  docs/dev-demos/src/api/title.ts
  docs/dev-demos/src/api/tooltip.ts
  docs/site/assets/examples/en/basic-mark-rect/api-rect.md
  docs/site/assets/examples/en/component/player.md
  docs/site/assets/examples/zh/basic-mark-rect/api-rect.md
  docs/site/assets/examples/zh/component/player.md
  packages/vgrammar-core/__tests__/component/crosshair.test.ts
  packages/vgrammar-core/__tests__/component/legend.test.ts
  packages/vgrammar-core/__tests__/component/tooltip.test.ts
  packages/vgrammar-core/src/component/crosshair.ts
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/index.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/component/tooltip.ts
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/component.ts
  packages/vgrammar-full/src/index.ts
  packages/vgrammar-plot/__tests__/util.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, test, docs

chore: remove component interaction register
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core

feat: update documents
  docs/dev-demos/src/api/bar.ts
  docs/dev-demos/src/api/kde-bar.ts
  docs/dev-demos/src/api/line.ts
  docs/dev-demos/src/api/player.ts
  docs/dev-demos/src/api/scrollbar-filter.ts
  docs/dev-demos/src/api/scrollbar.ts
  docs/dev-demos/src/api/slider.ts
  docs/dev-demos/src/api/stack.ts
  docs/dev-demos/src/api/title.ts
  docs/site/assets/examples/en/basic-mark-rect/api-rect.md
  docs/site/assets/examples/en/component/player.md
  docs/site/assets/examples/zh/basic-mark-rect/api-rect.md
  docs/site/assets/examples/zh/component/player.md
  docs/site/assets/guide/en/guides/marks/component.md
  docs/site/assets/guide/zh/guides/marks/component.md
  docs/site/assets/option/en/marks/component.md
  docs/site/assets/option/en/marks/component/crosshair.md
  docs/site/assets/option/en/marks/component/tooltip.md
  docs/site/assets/option/zh/marks/component.md
  docs/site/assets/option/zh/marks/component/crosshair.md
  docs/site/assets/option/zh/marks/component/tooltip.md
  packages/vgrammar-core/src/types/mark.ts
  packages/vgrammar-plot/__tests__/components/grid.test.ts
  packages/vgrammar-plot/__tests__/components/title.test.ts
  packages/vgrammar-plot/src/semantic-mark.ts
Labels: @pkg/core, docs

feat: support interaction in plot
  docs/dev-demos/src/plot/interval.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-plot/src/plot.ts
  packages/vgrammar-plot/src/semantic-mark.ts
Labels: @pkg/core, docs

feat: support dependencies for interaction
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-name.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-plot/src/semantic-mark.ts
Labels: @pkg/core

fix: fix label spec parsing
  packages/vgrammar-plot/src/sunburst.ts
  packages/vgrammar-plot/src/treemap.ts
  packages/vgrammar-plot/src/wordcloud-shape.ts
  packages/vgrammar-plot/src/wordcloud.ts
Labels: none

fix: remove default fontFamily of wordcloud
  packages/vgrammar-wordcloud-shape/src/util.ts
  packages/vgrammar-wordcloud-shape/src/wordle.ts
  packages/vgrammar-wordcloud/__tests__/fast-layout.test.ts
  packages/vgrammar-wordcloud/__tests__/grid-layout.test.ts
  packages/vgrammar-wordcloud/__tests__/wordcloud.test.ts
  packages/vgrammar-wordcloud/src/base.ts
  packages/vgrammar-wordcloud/src/cloud-layout.ts
  packages/vgrammar-wordcloud/src/grid-layout.ts
  packages/vgrammar-wordcloud/src/wordcloud.ts
Labels: @pkg/wordcloud, @pkg/wordcloud-shape, test

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-remove-default-font-style_2023-09-26-10-47.json
Labels: none

fix: remove mixin to register function
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/index.ts
Labels: @pkg/core

feat: register filter&popover interaction
  docs/dev-demos/src/api/slider.ts
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, docs

chore: remove component interaction register
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core

feat: support brush filter
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

feat: support dependencies for interaction
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-name.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-plot/src/semantic-mark.ts
Labels: @pkg/core

feat: add rollup & drill down & popover demo
  docs/dev-demos/src/api/drill-down.ts
  docs/dev-demos/src/api/tooltip.ts
  docs/dev-demos/src/indexes.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core, docs

feat: support legend filter
  common/config/rush/pnpm-lock.yaml
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

chore: set interaction attribute protected
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-name.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
Labels: @pkg/core

chore: remove filter logic of components & tooltip & crosshair
  docs/dev-demos/src/api/bar.ts
  docs/dev-demos/src/api/brush.ts
  docs/dev-demos/src/api/line.ts
  docs/dev-demos/src/api/polar-line.ts
  docs/dev-demos/src/api/scrollbar-filter.ts
  docs/dev-demos/src/api/slider.ts
  docs/dev-demos/src/api/title.ts
  docs/dev-demos/src/api/tooltip.ts
  docs/site/assets/examples/en/basic-mark-rect/api-rect.md
  docs/site/assets/examples/en/component/player.md
  docs/site/assets/examples/zh/basic-mark-rect/api-rect.md
  docs/site/assets/examples/zh/component/player.md
  packages/vgrammar-core/__tests__/component/crosshair.test.ts
  packages/vgrammar-core/__tests__/component/legend.test.ts
  packages/vgrammar-core/__tests__/component/tooltip.test.ts
  packages/vgrammar-core/src/component/crosshair.ts
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/index.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/component/tooltip.ts
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/component.ts
  packages/vgrammar-full/src/index.ts
  packages/vgrammar-plot/__tests__/util.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, test, docs

feat: update documents
  docs/dev-demos/src/api/bar.ts
  docs/dev-demos/src/api/kde-bar.ts
  docs/dev-demos/src/api/line.ts
  docs/dev-demos/src/api/player.ts
  docs/dev-demos/src/api/scrollbar-filter.ts
  docs/dev-demos/src/api/scrollbar.ts
  docs/dev-demos/src/api/slider.ts
  docs/dev-demos/src/api/stack.ts
  docs/dev-demos/src/api/title.ts
  docs/site/assets/examples/en/basic-mark-rect/api-rect.md
  docs/site/assets/examples/en/component/player.md
  docs/site/assets/examples/zh/basic-mark-rect/api-rect.md
  docs/site/assets/examples/zh/component/player.md
  docs/site/assets/guide/en/guides/marks/component.md
  docs/site/assets/guide/zh/guides/marks/component.md
  docs/site/assets/option/en/marks/component.md
  docs/site/assets/option/en/marks/component/crosshair.md
  docs/site/assets/option/en/marks/component/tooltip.md
  docs/site/assets/option/zh/marks/component.md
  docs/site/assets/option/zh/marks/component/crosshair.md
  docs/site/assets/option/zh/marks/component/tooltip.md
  packages/vgrammar-core/src/types/mark.ts
  packages/vgrammar-plot/__tests__/components/grid.test.ts
  packages/vgrammar-plot/__tests__/components/title.test.ts
  packages/vgrammar-plot/src/semantic-mark.ts
Labels: @pkg/core, docs

feat: support multiple interaction
  docs/dev-demos/src/api/tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core, docs

feat: support interaction in plot
  docs/dev-demos/src/plot/interval.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-plot/src/plot.ts
  packages/vgrammar-plot/src/semantic-mark.ts
Labels: @pkg/core, docs

feat: register interaction with components
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
