Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

fix: fix the issue that View can create customized component
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

fix: fix the issue that View can create customized component
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

fix: fix the issue that View can create customized component
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

fix: upgrade vutils from ~0.15 to ~0.16
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/README.md
  packages/vgrammar-coordinate/README.zh-CN.md
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/README.md
  packages/vgrammar-core/README.zh-CN.md
  packages/vgrammar-core/package.json
  packages/vgrammar-full/README.md
  packages/vgrammar-full/README.zh-CN.md
  packages/vgrammar-hierarchy/README.zh-CN.md
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/README.md
  packages/vgrammar-plot/README.zh-CN.md
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/README.md
  packages/vgrammar-projection/README.zh-CN.md
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/README.md
  packages/vgrammar-sankey/README.zh-CN.md
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/README.md
  packages/vgrammar-util/README.zh-CN.md
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/README.md
  packages/vgrammar-wordcloud-shape/README.zh-CN.md
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/README.md
  packages/vgrammar-wordcloud/README.zh-CN.md
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/README.md
  packages/vgrammar/README.zh-CN.md
Labels: docs

fix: upgrade vutils from ~0.15 to ~0.16
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/README.md
  packages/vgrammar-coordinate/README.zh-CN.md
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/README.md
  packages/vgrammar-core/README.zh-CN.md
  packages/vgrammar-core/package.json
  packages/vgrammar-full/README.md
  packages/vgrammar-full/README.zh-CN.md
  packages/vgrammar-hierarchy/README.zh-CN.md
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/README.md
  packages/vgrammar-plot/README.zh-CN.md
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/README.md
  packages/vgrammar-projection/README.zh-CN.md
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/README.md
  packages/vgrammar-sankey/README.zh-CN.md
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/README.md
  packages/vgrammar-util/README.zh-CN.md
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/README.md
  packages/vgrammar-wordcloud-shape/README.zh-CN.md
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/README.md
  packages/vgrammar-wordcloud/README.zh-CN.md
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/README.md
  packages/vgrammar/README.zh-CN.md
Labels: docs

feat: update element-active and element-select interactions
  docs/dev-demos/src/specs/simple-bar-chart.ts
  packages/vgrammar-core/src/index.ts
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, docs

refactor!: remove `cursor()` and `hover()`
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

fix: fix event definition of interactions
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/element-hover.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/view.ts
Labels: @pkg/core

feat: add interactions and registers
  docs/dev-demos/src/main.ts
  docs/dev-demos/src/specs/simple-bar-chart.ts
  packages/vgrammar-core/src/core/factory.ts
  packages/vgrammar-core/src/graph/util/events-extend.ts
  packages/vgrammar-core/src/index.ts
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/element-hover.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/parse/event.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/index.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core, docs

feat: add selection interactions
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core

fix: exclude invalid animation channels
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/api/boxplot.ts
  docs/dev-demos/src/api/text-animate.ts
  packages/vgrammar-core/src/graph/animation/animation/update.ts
  packages/vgrammar-core/src/graph/animation/attribute.ts
  packages/vgrammar-hierarchy/jest.config.js
  packages/vgrammar-projection/jest.config.js
  packages/vgrammar-sankey/jest.config.js
  packages/vgrammar-wordcloud/jest.config.js
Labels: @pkg/core, docs, jest

chore: update rush change log
  common/changes/@visactor/vgrammar-core/fix-exclude-animation-channels_2023-09-20-03-29.json
Labels: none

chore: update rush change log
  common/changes/@visactor/vgrammar-core/fix-exclude-animation-channels_2023-09-20-03-29.json
Labels: none

fix: exclude invalid animation channels
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/api/boxplot.ts
  docs/dev-demos/src/api/text-animate.ts
  packages/vgrammar-core/src/graph/animation/animation/update.ts
  packages/vgrammar-core/src/graph/animation/attribute.ts
  packages/vgrammar-hierarchy/jest.config.js
  packages/vgrammar-projection/jest.config.js
  packages/vgrammar-sankey/jest.config.js
  packages/vgrammar-wordcloud/jest.config.js
Labels: @pkg/core, docs, jest

feat: add new interactions: brush-active, brush-highlight
  packages/vgrammar-core/src/interactions/brush-active.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/brush-highlight.ts
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core

fix: fix brush-base
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
Labels: @pkg/core

feat: add interaction: element-highlight-by-name
  packages/vgrammar-core/src/interactions/element-highlight-by-name.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core

feat: support legend filter
  common/config/rush/pnpm-lock.yaml
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

feat: add filter interactions
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/scale.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-hierarchy/jest.config.js
  packages/vgrammar-projection/jest.config.js
  packages/vgrammar-sankey/jest.config.js
  packages/vgrammar-wordcloud/jest.config.js
Labels: @pkg/core, jest

chore: fix exports in package.json
  packages/vgrammar-full/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar/package.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/develop_2023-09-22-03-28.json
Labels: none

chore: fix exports in package.json
  packages/vgrammar-full/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar/package.json
Labels: none

chore: update rush change log
  common/changes/@visactor/vgrammar-core/fix-exclude-animation-channels_2023-09-20-03-29.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/develop_2023-09-22-03-28.json
Labels: none

fix: exclude invalid animation channels
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/api/boxplot.ts
  docs/dev-demos/src/api/text-animate.ts
  packages/vgrammar-core/src/graph/animation/animation/update.ts
  packages/vgrammar-core/src/graph/animation/attribute.ts
  packages/vgrammar-hierarchy/jest.config.js
  packages/vgrammar-projection/jest.config.js
  packages/vgrammar-sankey/jest.config.js
  packages/vgrammar-wordcloud/jest.config.js
Labels: @pkg/core, docs, jest

chore: fix the commit message in release and pre-release workflows
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: none

feat: support brush filter
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

fix: rollup the parsing of scale field data, dont concat array data
  packages/vgrammar-core/src/parse/scale.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-rollback-scale-array-data_2023-09-22-08-22.json
Labels: none

test: update test case of vgrammar-plot
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-y.test.ts
Labels: none

test: update test case of vgrammar-plot
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-y.test.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-rollback-scale-array-data_2023-09-22-08-22.json
Labels: none

fix: rollup the parsing of scale field data, dont concat array data
  packages/vgrammar-core/src/parse/scale.ts
Labels: @pkg/core

feat: support drill-down & roll-up
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-rollback-scale-array-data_2023-09-22-08-22.json
Labels: none

test: update test case of vgrammar-plot
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-y.test.ts
Labels: none

fix: rollup the parsing of scale field data, dont concat array data
  packages/vgrammar-core/src/parse/scale.ts
Labels: @pkg/core

chore: fix the commit message in release and pre-release workflows
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: none

chore: set interaction attribute protected
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-name.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
Labels: @pkg/core

feat: add tooltip interaction
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
