Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

fix: remove mixin to register function
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/index.ts
Labels: @pkg/core

feat: add tooltip interaction
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

fix: fix label spec parsing
  packages/vgrammar-plot/src/sunburst.ts
  packages/vgrammar-plot/src/treemap.ts
  packages/vgrammar-plot/src/wordcloud-shape.ts
  packages/vgrammar-plot/src/wordcloud.ts
Labels: none

feat: add filter interactions
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/scale.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-hierarchy/jest.config.js
  packages/vgrammar-projection/jest.config.js
  packages/vgrammar-sankey/jest.config.js
  packages/vgrammar-wordcloud/jest.config.js
Labels: @pkg/core, jest

feat: support drill-down & roll-up
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

feat: add filter demo
  docs/dev-demos/src/api/brush.ts
  docs/dev-demos/src/api/player.ts
  docs/dev-demos/src/api/scrollbar-filter.ts
  docs/dev-demos/src/indexes.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core, docs

feat: add crosshair component
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

feat: add view navigation interactions
  docs/dev-demos/src/specs/group-bar-chart.ts
  docs/dev-demos/src/specs/jitter-x-symbols.ts
  docs/dev-demos/src/specs/simple-bar-chart.ts
  docs/dev-demos/src/specs/zoomable-scatter-plot.ts
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/brush-highlight.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/view-drag-mixin.ts
  packages/vgrammar-core/src/interactions/view-drag.ts
  packages/vgrammar-core/src/interactions/view-navigation-base.ts
  packages/vgrammar-core/src/interactions/view-roam.ts
  packages/vgrammar-core/src/interactions/view-scroll-mixin.ts
  packages/vgrammar-core/src/interactions/view-scroll.ts
  packages/vgrammar-core/src/interactions/view-utils.ts
  packages/vgrammar-core/src/interactions/view-zoom-mixin.ts
  packages/vgrammar-core/src/interactions/view-zoom.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/mark.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, docs

fix: optimize the type of view interactions
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/view-drag-mixin.ts
  packages/vgrammar-core/src/interactions/view-drag.ts
  packages/vgrammar-core/src/interactions/view-roam.ts
  packages/vgrammar-core/src/interactions/view-scroll.ts
  packages/vgrammar-core/src/interactions/view-zoom-mixin.ts
  packages/vgrammar-core/src/interactions/view-zoom.ts
Labels: @pkg/core

fix: fix crosshair point
  packages/vgrammar-core/src/interactions/crosshair.ts
Labels: @pkg/core

fix: fix data filter when configure data and scale in view navigation
  docs/dev-demos/src/indexes.ts
  docs/dev-demos/src/specs/datazoom-bar.ts
  docs/dev-demos/src/specs/roam-filter-bar.ts
  docs/dev-demos/src/specs/roam-scale-bar.ts
  packages/vgrammar-core/src/graph/mark/encode.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/view-navigation-base.ts
  packages/vgrammar-core/src/interactions/view-utils.ts
  packages/vgrammar-core/src/interactions/view-zoom-mixin.ts
  packages/vgrammar-core/src/semantic-marks/cell.ts
  packages/vgrammar-core/src/transforms/mark/dodge.ts
  packages/vgrammar-core/src/transforms/mark/jitter.ts
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/util/scale.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/scale.ts
Labels: @pkg/core, docs

feat: add view navigation interactions
  docs/dev-demos/src/specs/group-bar-chart.ts
  docs/dev-demos/src/specs/jitter-x-symbols.ts
  docs/dev-demos/src/specs/simple-bar-chart.ts
  docs/dev-demos/src/specs/zoomable-scatter-plot.ts
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/brush-highlight.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/view-drag-mixin.ts
  packages/vgrammar-core/src/interactions/view-drag.ts
  packages/vgrammar-core/src/interactions/view-navigation-base.ts
  packages/vgrammar-core/src/interactions/view-roam.ts
  packages/vgrammar-core/src/interactions/view-scroll-mixin.ts
  packages/vgrammar-core/src/interactions/view-scroll.ts
  packages/vgrammar-core/src/interactions/view-utils.ts
  packages/vgrammar-core/src/interactions/view-zoom-mixin.ts
  packages/vgrammar-core/src/interactions/view-zoom.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/mark.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, docs

fix: fix data filter when configure data and scale in view navigation
  docs/dev-demos/src/indexes.ts
  docs/dev-demos/src/specs/datazoom-bar.ts
  docs/dev-demos/src/specs/roam-filter-bar.ts
  docs/dev-demos/src/specs/roam-scale-bar.ts
  packages/vgrammar-core/src/graph/mark/encode.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/view-navigation-base.ts
  packages/vgrammar-core/src/interactions/view-utils.ts
  packages/vgrammar-core/src/interactions/view-zoom-mixin.ts
  packages/vgrammar-core/src/semantic-marks/cell.ts
  packages/vgrammar-core/src/transforms/mark/dodge.ts
  packages/vgrammar-core/src/transforms/mark/jitter.ts
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/util/scale.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/scale.ts
Labels: @pkg/core, docs

fix: optimize the type of view interactions
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/view-drag-mixin.ts
  packages/vgrammar-core/src/interactions/view-drag.ts
  packages/vgrammar-core/src/interactions/view-roam.ts
  packages/vgrammar-core/src/interactions/view-scroll.ts
  packages/vgrammar-core/src/interactions/view-zoom-mixin.ts
  packages/vgrammar-core/src/interactions/view-zoom.ts
Labels: @pkg/core

fix: fix crosshair point
  packages/vgrammar-core/src/interactions/crosshair.ts
Labels: @pkg/core

chore: update rush change log
  common/changes/@visactor/vgrammar-core/fix-exclude-animation-channels_2023-09-20-03-29.json
Labels: none

fix: exclude invalid animation channels
  common/config/rush/pnpm-lock.yaml
Labels: none

refactor: refactor the `getEvents()` of interactions
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-name.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/interactions/view-drag.ts
  packages/vgrammar-core/src/interactions/view-roam.ts
  packages/vgrammar-core/src/interactions/view-scroll.ts
  packages/vgrammar-core/src/interactions/view-zoom.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

feat: add interaction, sankey-highlight
  docs/dev-demos/src/specs/sankey-hierarchy.ts
  packages/vgrammar-sankey/src/index.ts
  packages/vgrammar-sankey/src/sankey-highlight.ts
Labels: @pkg/sankey, docs

feat: support two different effect of sankey highlight
  docs/dev-demos/src/specs/sankey-hierarchy.ts
  docs/dev-demos/src/specs/sankey.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-sankey/src/sankey-highlight.ts
Labels: @pkg/core, @pkg/sankey, docs

fix: `transformAttributes()` should not throw error when nextAttrs is null
  packages/vgrammar-core/src/graph/attributes/index.ts
Labels: @pkg/core

docs: update demos of sankey
  docs/dev-demos/src/specs/sankey-vertical.ts
  docs/dev-demos/src/specs/sankey.ts
Labels: docs

fix: fix animate performance issue
  common/changes/@visactor/vgrammar-core/fix-animate-performance_2023-10-10-02-43.json
  packages/vgrammar-core/src/graph/animation/animate.ts
  packages/vgrammar-core/src/graph/animation/attribute.ts
Labels: @pkg/core

chore: upgrade vrender
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

chore: upgrade vrender
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: ripple should update size when update atttribute `size`
  docs/dev-demos/src/main.ts
  packages/vgrammar-core/src/glyph/ripple.ts
Labels: @pkg/core, docs

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-ripple-size_2023-10-10-03-35.json
Labels: none

test: update test case of ripple
  packages/vgrammar-core/__tests__/glyph/ripple.test.ts
Labels: none

chore: update rush change log
  common/changes/@visactor/vgrammar-core/fix-exclude-animation-channels_2023-09-20-03-29.json
Labels: none

chore: upgrade vrender
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: exclude invalid animation channels
  common/config/rush/pnpm-lock.yaml
Labels: none

fix: fix animate performance issue
  common/changes/@visactor/vgrammar-core/fix-animate-performance_2023-10-10-02-43.json
  packages/vgrammar-core/src/graph/animation/animate.ts
  packages/vgrammar-core/src/graph/animation/attribute.ts
Labels: @pkg/core

test: update test case of ripple
  packages/vgrammar-core/__tests__/glyph/ripple.test.ts
Labels: none

fix: ripple should update size when update atttribute `size`
  docs/dev-demos/src/main.ts
  packages/vgrammar-core/src/glyph/ripple.ts
Labels: @pkg/core, docs

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-ripple-size_2023-10-10-03-35.json
Labels: none

fix: fix animate performance issue
  common/changes/@visactor/vgrammar-core/fix-animate-performance_2023-10-10-02-43.json
  packages/vgrammar-core/src/graph/animation/animate.ts
  packages/vgrammar-core/src/graph/animation/attribute.ts
Labels: @pkg/core

fix: ripple should update size when update atttribute `size`
  docs/dev-demos/src/main.ts
  packages/vgrammar-core/src/glyph/ripple.ts
Labels: @pkg/core, docs

test: update test case of ripple
  packages/vgrammar-core/__tests__/glyph/ripple.test.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-ripple-size_2023-10-10-03-35.json
Labels: none

feat: support two different effect of sankey highlight
  docs/dev-demos/src/specs/sankey-hierarchy.ts
  docs/dev-demos/src/specs/sankey.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-sankey/src/sankey-highlight.ts
Labels: @pkg/core, @pkg/sankey, docs

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
