Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

perf: optmize the performance of initGraphicItem(), only call `onBeforeAttributeUpdate()` when need
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

chore: add eslint plugin eslint-plugin-spellcheck
  common/config/rush/pnpm-lock.yaml
  share/eslint-config/package.json
  share/eslint-config/profile/common.js
Labels: eslint

fix: fix typo in element
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

chore: optimize release workflows
  .github/workflows/release.yml
Labels: none

chore: add eslint plugin eslint-plugin-spellcheck
  common/config/rush/pnpm-lock.yaml
  share/eslint-config/package.json
  share/eslint-config/profile/common.js
Labels: eslint

perf: optmize the performance of initGraphicItem(), only call `onBeforeAttributeUpdate()` when need
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

test: update test cases of vgrammar-plot
  packages/vgrammar-plot/__tests__/marks/interval.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
Labels: none

fix: fix typo in element
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/perf-init-graphic-item_2023-11-20-08-05.json
Labels: none

fix: upgrade vrender and vutils, fix Math.min.apply and Math.max.apply
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-coordinate/src/polar.ts
  packages/vgrammar-core/package.json
  packages/vgrammar-core/src/parse/scale.ts
  packages/vgrammar-core/src/semantic-marks/interval.ts
  packages/vgrammar-core/src/transforms/data/contour.ts
  packages/vgrammar-core/src/transforms/data/sampling.ts
  packages/vgrammar-core/src/transforms/data/unfold.ts
  packages/vgrammar-core/src/transforms/mark/symmetry.ts
  packages/vgrammar-core/src/transforms/util/util.ts
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-plot/src/area.ts
  packages/vgrammar-plot/src/interval.ts
  packages/vgrammar-plot/src/rect-x.ts
  packages/vgrammar-plot/src/rect-y.ts
  packages/vgrammar-plot/src/rect.ts
  packages/vgrammar-plot/src/semantic-mark.ts
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-sankey/src/layout.ts
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud-shape/src/wordcloud-shape.ts
  packages/vgrammar-wordcloud/package.json
Labels: @pkg/core, @pkg/coordinate, @pkg/sankey, @pkg/wordcloud-shape, docs

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/develop_2023-11-24-02-31.json
Labels: none

fix: fix test errors
  packages/vgrammar-core/src/component/title.ts
  packages/vgrammar-core/src/semantic-marks/interval.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-plot/src/area.ts
  packages/vgrammar-plot/src/interval.ts
  packages/vgrammar-plot/src/rect-x.ts
  packages/vgrammar-plot/src/rect-y.ts
  packages/vgrammar-plot/src/rect.ts
  share/eslint-config/profile/common.js
Labels: @pkg/core, eslint

docs: delete repeat template
  docs/site/assets/guide/en/guides/quick-start.md
  docs/site/assets/guide/zh/guides/quick-start.md
Labels: docs

test: update test cases of vgrammar-plot
  packages/vgrammar-plot/__tests__/marks/interval.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
Labels: none

fix: fix test errors
  packages/vgrammar-core/src/component/title.ts
  packages/vgrammar-core/src/semantic-marks/interval.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-plot/src/area.ts
  packages/vgrammar-plot/src/interval.ts
  packages/vgrammar-plot/src/rect-x.ts
  packages/vgrammar-plot/src/rect-y.ts
  packages/vgrammar-plot/src/rect.ts
  share/eslint-config/profile/common.js
Labels: @pkg/core, eslint

test: update test case that about enableSegments
  packages/vgrammar-core/__tests__/mark/group-encode.test.ts
  packages/vgrammar-core/__tests__/mark/line.test.ts
Labels: none

docs: update demo that about `enableSegments`
  docs/dev-demos/src/specs/area-mark.ts
  docs/dev-demos/src/specs/line-chart-segments.ts
  docs/dev-demos/src/specs/line-mark.ts
  docs/dev-demos/src/specs/simple-area-chart.ts
  docs/site/assets/examples/en/basic-mark-line/segmental-line.md
  docs/site/assets/examples/zh/basic-mark-line/segmental-line.md
Labels: docs

chore: add change log
  common/changes/@visactor/vgrammar-core/feat-context-api_2023-11-20-13-39.json
Labels: none

feat: support animation delay after
  docs/dev-demos/src/specs/bar-animation.ts
  packages/vgrammar-core/src/graph/animation/animate.ts
  packages/vgrammar-core/src/graph/animation/animator.ts
  packages/vgrammar-core/src/graph/animation/config.ts
  packages/vgrammar-core/src/graph/constants.ts
  packages/vgrammar-core/src/types/animate.ts
Labels: @pkg/core, docs

fix: fix typo in element
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

chore: optimize release workflows
  .github/workflows/release.yml
Labels: none

chore: update change log
  common/changes/@visactor/vgrammar-core/feat-delay-after_2023-11-22-06-58.json
Labels: none

perf: move `enableSegments` to spec
  packages/vgrammar-core/src/graph/attributes/transform.ts
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/graph/glyph-element.ts
  packages/vgrammar-core/src/types/mark.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/develop_2023-11-24-02-31.json
Labels: none

feat: add context api for mark
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/api/line-animation.ts
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core, docs

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/perf-init-graphic-item_2023-11-20-08-05.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/perf-move-enable-segments-to-spec_2023-11-21-09-33.json
Labels: none

fix: fix workflow of sync-develop
  .github/workflows/sync-develop.yml
Labels: none

fix: upgrade vrender and vutils, fix Math.min.apply and Math.max.apply
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-coordinate/src/polar.ts
  packages/vgrammar-core/package.json
  packages/vgrammar-core/src/parse/scale.ts
  packages/vgrammar-core/src/semantic-marks/interval.ts
  packages/vgrammar-core/src/transforms/data/contour.ts
  packages/vgrammar-core/src/transforms/data/sampling.ts
  packages/vgrammar-core/src/transforms/data/unfold.ts
  packages/vgrammar-core/src/transforms/mark/symmetry.ts
  packages/vgrammar-core/src/transforms/util/util.ts
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-plot/src/area.ts
  packages/vgrammar-plot/src/interval.ts
  packages/vgrammar-plot/src/rect-x.ts
  packages/vgrammar-plot/src/rect-y.ts
  packages/vgrammar-plot/src/rect.ts
  packages/vgrammar-plot/src/semantic-mark.ts
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-sankey/src/layout.ts
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud-shape/src/wordcloud-shape.ts
  packages/vgrammar-wordcloud/package.json
Labels: @pkg/core, @pkg/coordinate, @pkg/sankey, @pkg/wordcloud-shape, docs

perf: optmize the performance of initGraphicItem(), only call `onBeforeAttributeUpdate()` when need
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

chore: add eslint plugin eslint-plugin-spellcheck
  common/config/rush/pnpm-lock.yaml
  share/eslint-config/package.json
  share/eslint-config/profile/common.js
Labels: eslint

docs: delete repeat template
  docs/site/assets/guide/en/guides/quick-start.md
  docs/site/assets/guide/zh/guides/quick-start.md
Labels: docs

docs: update docs for grammar-element
  docs/site/assets/guide/en/guides/grammar-element.md
  docs/site/assets/guide/zh/guides/grammar-element.md
Labels: docs

docs: fix the bug of example reference, remove duplicated livedemo
  docs/site/assets/guide/en/guides/chart.md
  docs/site/assets/guide/en/guides/marks/base.md
  docs/site/assets/guide/en/guides/marks/basic-mark.md
  docs/site/assets/guide/en/guides/marks/component.md
  docs/site/assets/guide/en/guides/marks/glyph-mark.md
  docs/site/assets/guide/en/guides/marks/semantic-mark.md
  docs/site/assets/guide/en/guides/quick-start.md
  docs/site/assets/guide/zh/guides/chart.md
  docs/site/assets/guide/zh/guides/marks/base.md
  docs/site/assets/guide/zh/guides/marks/basic-mark.md
  docs/site/assets/guide/zh/guides/marks/component.md
  docs/site/assets/guide/zh/guides/marks/glyph-mark.md
  docs/site/assets/guide/zh/guides/marks/semantic-mark.md
  docs/site/assets/guide/zh/guides/quick-start.md
  docs/site/libs/update-example-reference.js
Labels: docs

fix: fix the issue that hierarchy sankey cannot sort link
  packages/vgrammar-sankey/__tests__/layout.test.ts
  packages/vgrammar-sankey/src/layout.ts
Labels: @pkg/sankey, test

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-hierarchy-sankey-sort-link_2023-11-27-08-09.json
Labels: none

fix: replace Math.min.apply by `minInArray()`
  packages/vgrammar-sankey/src/layout.ts
Labels: @pkg/sankey

feat: load graphic creator on demand
  packages/vgrammar-core/__tests__/transforms/jitter.test.ts
  packages/vgrammar-core/__tests__/util.ts
  packages/vgrammar-core/src/core/factory.ts
  packages/vgrammar-core/src/glyph/boxplot.ts
  packages/vgrammar-core/src/glyph/link-path.ts
  packages/vgrammar-core/src/glyph/ripple.ts
  packages/vgrammar-core/src/glyph/tree-path.ts
  packages/vgrammar-core/src/glyph/violin.ts
  packages/vgrammar-core/src/glyph/wave.ts
  packages/vgrammar-core/src/graph/mark/graphic.ts
  packages/vgrammar-core/src/graph/util/graphic.ts
  packages/vgrammar-core/src/index.ts
  packages/vgrammar-full/src/index.ts
  packages/vgrammar-plot/__tests__/util.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, test

feat: glyph registers basic grphics
  packages/vgrammar-core/src/glyph/boxplot.ts
  packages/vgrammar-core/src/glyph/link-path.ts
  packages/vgrammar-core/src/glyph/ripple.ts
  packages/vgrammar-core/src/glyph/tree-path.ts
  packages/vgrammar-core/src/glyph/violin.ts
  packages/vgrammar-core/src/glyph/wave.ts
Labels: @pkg/core

fix: refactor isMarkType
  packages/vgrammar-core/src/graph/util/graphic.ts
Labels: @pkg/core

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
