Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

docs: update changelog of rush
  common/changes/@visactor/vgrammar-core/dev-0.8.0_2023-10-16-02-57.json
Labels: none

refactor!: remove `cursor()` and `hover()`
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

feat: add interactions and registers
  docs/dev-demos/src/main.ts
  docs/dev-demos/src/specs/simple-bar-chart.ts
  packages/vgrammar-core/src/core/factory.ts
  packages/vgrammar-core/src/graph/util/events-extend.ts
  packages/vgrammar-core/src/index.ts
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/element-hover.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/parse/event.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/index.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core, docs

fix: upgrade vscale and use fishEye() in scale
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-core/src/interactions/fish-eye-util.ts
  packages/vgrammar-core/src/interactions/fish-eye.ts
  packages/vgrammar-core/src/interactions/view-navigation-base.ts
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/view/scale.ts
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: @pkg/core, docs

feat: add interaction, sankey-highlight
  docs/dev-demos/src/specs/sankey-hierarchy.ts
  packages/vgrammar-sankey/src/index.ts
  packages/vgrammar-sankey/src/sankey-highlight.ts
Labels: @pkg/sankey, docs

feat: add rollup & drill down & popover demo
  docs/dev-demos/src/api/drill-down.ts
  docs/dev-demos/src/api/tooltip.ts
  docs/dev-demos/src/indexes.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core, docs

feat: add tooltip interaction
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

chore: remove filter logic of components & tooltip & crosshair
  docs/dev-demos/src/api/bar.ts
  docs/dev-demos/src/api/brush.ts
  docs/dev-demos/src/api/line.ts
  docs/dev-demos/src/api/polar-line.ts
  docs/dev-demos/src/api/scrollbar-filter.ts
  docs/dev-demos/src/api/slider.ts
  docs/dev-demos/src/api/title.ts
  docs/dev-demos/src/api/tooltip.ts
  docs/site/assets/examples/en/basic-mark-rect/api-rect.md
  docs/site/assets/examples/en/component/player.md
  docs/site/assets/examples/zh/basic-mark-rect/api-rect.md
  docs/site/assets/examples/zh/component/player.md
  packages/vgrammar-core/__tests__/component/crosshair.test.ts
  packages/vgrammar-core/__tests__/component/legend.test.ts
  packages/vgrammar-core/__tests__/component/tooltip.test.ts
  packages/vgrammar-core/src/component/crosshair.ts
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/index.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/component.ts
  packages/vgrammar-full/src/index.ts
  packages/vgrammar-plot/__tests__/util.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, test, docs

feat: add filter demo
  docs/dev-demos/src/api/brush.ts
  docs/dev-demos/src/api/player.ts
  docs/dev-demos/src/api/scrollbar-filter.ts
  docs/dev-demos/src/indexes.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core, docs

feat: add view navigation interactions
  docs/dev-demos/src/specs/group-bar-chart.ts
  docs/dev-demos/src/specs/jitter-x-symbols.ts
  docs/dev-demos/src/specs/simple-bar-chart.ts
  docs/dev-demos/src/specs/zoomable-scatter-plot.ts
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/brush-highlight.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/view-drag-mixin.ts
  packages/vgrammar-core/src/interactions/view-drag.ts
  packages/vgrammar-core/src/interactions/view-navigation-base.ts
  packages/vgrammar-core/src/interactions/view-roam.ts
  packages/vgrammar-core/src/interactions/view-scroll-mixin.ts
  packages/vgrammar-core/src/interactions/view-scroll.ts
  packages/vgrammar-core/src/interactions/view-utils.ts
  packages/vgrammar-core/src/interactions/view-zoom-mixin.ts
  packages/vgrammar-core/src/interactions/view-zoom.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/mark.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, docs

fix: remove mixin to register function
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/index.ts
Labels: @pkg/core

fix: fix brush-base
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
Labels: @pkg/core

fix: fix animate performance issue
  common/changes/@visactor/vgrammar-core/fix-animate-performance_2023-10-10-02-43.json
  packages/vgrammar-core/src/graph/animation/animate.ts
  packages/vgrammar-core/src/graph/animation/attribute.ts
Labels: @pkg/core

fix: fix label spec parsing
  packages/vgrammar-plot/src/sunburst.ts
  packages/vgrammar-plot/src/treemap.ts
  packages/vgrammar-plot/src/wordcloud-shape.ts
  packages/vgrammar-plot/src/wordcloud.ts
Labels: none

chore: update rush change log
  common/changes/@visactor/vgrammar-core/fix-exclude-animation-channels_2023-09-20-03-29.json
Labels: none

fix: exclude invalid animation channels
  common/config/rush/pnpm-lock.yaml
Labels: none

feat: add selection interactions
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core

feat: support interaction in plot
  docs/dev-demos/src/plot/interval.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-plot/src/plot.ts
  packages/vgrammar-plot/src/semantic-mark.ts
Labels: @pkg/core, docs

docs: update demos of sankey
  docs/dev-demos/src/specs/sankey-vertical.ts
  docs/dev-demos/src/specs/sankey.ts
Labels: docs

feat: support drill-down & roll-up
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

feat: register filter&popover interaction
  docs/dev-demos/src/api/slider.ts
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, docs

fix: import type from "@visactor/vrender-core"
  packages/vgrammar-core/src/interactions/brush-active.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/brush-highlight.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

fix: component/tooltip should be deleted, fix the issue of rebase codes
  packages/vgrammar-core/src/component/tooltip.ts
Labels: @pkg/core

feat(sampling): add aggregation sampling methods
  docs/dev-demos/src/indexes.ts
  docs/dev-demos/src/specs/line-chart-overlap.ts
  docs/dev-demos/src/specs/line-chart-sampling.ts
  packages/vgrammar-core/__tests__/grammar/mark.test.ts
  packages/vgrammar-core/__tests__/transforms/lttb-sample.test.ts
  packages/vgrammar-core/__tests__/transforms/sampling.test.ts
  packages/vgrammar-core/src/transforms/data/sampling.ts
  packages/vgrammar-core/src/transforms/index.ts
  packages/vgrammar-core/src/transforms/util/util.ts
  packages/vgrammar-core/src/types/transform.ts
  packages/vgrammar-full/src/index.ts
  packages/vgrammar-plot/__tests__/util.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, test, docs

chore: rush change log
  common/changes/@visactor/vgrammar-core/feat-sampling_2023-10-19-09-08.json
Labels: none

feat: stop async dataflow when releasing
  packages/vgrammar-core/src/view/dataflow.ts
Labels: @pkg/core

feat: support animation spec
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/main.ts
  docs/dev-demos/src/specs/pie-animation.ts
  packages/vgrammar-core/src/graph/animation/animate.ts
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/graph/glyph-element.ts
  packages/vgrammar-core/src/types/animate.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core, docs

chore: update rush change log
  common/changes/@visactor/vgrammar-core/feat-animation-spec_2023-10-18-13-12.json
  packages/vgrammar-core/__tests__/util.ts
Labels: test

feat: support animation spec
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/main.ts
  docs/dev-demos/src/specs/pie-animation.ts
  packages/vgrammar-core/src/graph/animation/animate.ts
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/graph/glyph-element.ts
  packages/vgrammar-core/src/types/animate.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core, docs

chore: update rush change log
  common/changes/@visactor/vgrammar-core/feat-animation-spec_2023-10-18-13-12.json
  packages/vgrammar-core/__tests__/util.ts
Labels: test

feat: stop async dataflow when releasing
  packages/vgrammar-core/src/view/dataflow.ts
Labels: @pkg/core

fix: upgrade vrender and vutil
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

feat: support DataLabel in line/area mark
  docs/dev-demos/src/plot/line.ts
  packages/vgrammar-core/src/component/label.ts
  packages/vgrammar-core/src/theme/common/component.ts
  packages/vgrammar-core/src/theme/dark.ts
  packages/vgrammar-core/src/types/theme.ts
Labels: @pkg/core, docs

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/feat-label-of-line_2023-10-19-08-55.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/feat-label-of-line_2023-10-19-08-55.json
Labels: none

feat: support DataLabel in line/area mark
  docs/dev-demos/src/plot/line.ts
  packages/vgrammar-core/src/component/label.ts
  packages/vgrammar-core/src/theme/common/component.ts
  packages/vgrammar-core/src/theme/dark.ts
  packages/vgrammar-core/src/types/theme.ts
Labels: @pkg/core, docs

fix: upgrade vrender and vutil
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix(sampling): delete assignment logic
  docs/dev-demos/src/specs/line-chart-sampling.ts
  packages/vgrammar-core/src/transforms/data/sampling.ts
Labels: @pkg/core, docs

chore: rename function
  packages/vgrammar-core/src/transforms/data/sampling.ts
Labels: @pkg/core

fix(sampling): delete assignment logic
  docs/dev-demos/src/specs/line-chart-sampling.ts
  packages/vgrammar-core/src/transforms/data/sampling.ts
Labels: @pkg/core, docs
