Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

perf: disable `onBeforeAttributeUpdate()` of component graphicItem
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

fix: pase viewOptions to vrender stage
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

perf: mark dont need to run after layout end
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

test: update test case of group-encode
  packages/vgrammar-core/__tests__/mark/group-encode.test.ts
Labels: none

build: prerelease version 0.9.0-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-full/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
Labels: docs

chore: update pre-push
  common/git-hooks/pre-push
Labels: chore

chore: when set version of prerelease, use version in higher priority
  common/scripts/apply-prerelease-version.js
  common/scripts/set-prerelease-version.js
Labels: chore

Revert "fix: pase viewOptions to vrender stage"
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

chore: fix error in apply-prerelease-version
  common/scripts/apply-prerelease-version.js
Labels: chore

chore: fix apply-prerelease-version
  common/scripts/apply-prerelease-version.js
Labels: chore

chore: fix error in apply-prerelease-version
  common/scripts/apply-prerelease-version.js
Labels: chore

build: prerelease version 0.9.0-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-full/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
Labels: docs

fix: upgrade vrender to 0.17.0
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: fix componentOptions of vrender-components
  packages/vgrammar-core/src/component/axis.ts
  packages/vgrammar-core/src/component/grid.ts
  packages/vgrammar-core/src/core/factory.ts
Labels: @pkg/core

fix: add props `skipDefault` to component when the `skipTheme` of mark is true
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/graph/util/graphic.ts
  packages/vgrammar-core/src/view/component.ts
Labels: @pkg/core

build: prerelease version 0.10.0-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-full/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
Labels: docs

feat: support line/area label
  packages/vgrammar-core/src/component/label.ts
  packages/vgrammar-core/src/theme/common/component.ts
Labels: @pkg/core

chore: type error
  packages/vgrammar-core/src/theme/common/component.ts
  packages/vgrammar-core/src/types/theme.ts
Labels: @pkg/core

chore: upgrade vrender from ~0.16.13 to ~0.16.14
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-core/src/theme/common/component.ts
  packages/vgrammar-core/src/types/theme.ts
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: @pkg/core, docs

chore: upgrade vutil from ~0.16.7 to ~0.16.8
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: label with no addition data
  packages/vgrammar-core/src/component/label.ts
Labels: @pkg/core

feat: support line/area label
  packages/vgrammar-core/src/component/label.ts
  packages/vgrammar-core/src/theme/common/component.ts
Labels: @pkg/core

chore: upgrade vrender from ~0.16.13 to ~0.16.14
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-core/src/theme/common/component.ts
  packages/vgrammar-core/src/types/theme.ts
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: @pkg/core, docs

fix: label with no addition data
  packages/vgrammar-core/src/component/label.ts
Labels: @pkg/core

chore: type error
  packages/vgrammar-core/src/theme/common/component.ts
  packages/vgrammar-core/src/types/theme.ts
Labels: @pkg/core

chore: upgrade vutil from ~0.16.7 to ~0.16.8
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: optimize `getLinePoints()`
  packages/vgrammar-core/src/graph/attributes/helpers.ts
Labels: @pkg/core

perf: disable `onBeforeAttributeUpdate()` of component graphicItem
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

Revert "fix: pase viewOptions to vrender stage"
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

chore: update pre-push
  common/git-hooks/pre-push
Labels: chore

perf: refactor `getLinePoints()`, reduce the create of new objects
  packages/vgrammar-core/src/graph/attributes/helpers.ts
Labels: @pkg/core

perf: mark dont need to run after layout end
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

fix: optimize `getLinePoints()`
  packages/vgrammar-core/src/graph/attributes/helpers.ts
Labels: @pkg/core

fix: pase viewOptions to vrender stage
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

chore: when set version of prerelease, use version in higher priority
  common/scripts/apply-prerelease-version.js
  common/scripts/set-prerelease-version.js
Labels: chore

fix: axisCount should be sync to scale
  packages/vgrammar-core/src/component/axis.ts
  packages/vgrammar-core/src/component/grid.ts
  packages/vgrammar-core/src/parse/scale.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/types/scale.ts
  packages/vgrammar-core/src/types/signal.ts
  packages/vgrammar-core/src/view/scale.ts
Labels: @pkg/core

chore: fix error in apply-prerelease-version
  common/scripts/apply-prerelease-version.js
Labels: chore

test: update test case of group-encode
  packages/vgrammar-core/__tests__/mark/group-encode.test.ts
Labels: none

fix: upgrade vrender to ~0.16.15 and vtuils to ~0.16.9
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

feat: support line/area label
  packages/vgrammar-core/src/component/label.ts
  packages/vgrammar-core/src/theme/common/component.ts
Labels: @pkg/core
