Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**

test: fix unit test
  packages/vgrammar-core/__tests__/grammar/mark.test.ts
  packages/vgrammar-core/__tests__/mark/glyph.test.ts
  packages/vgrammar-core/__tests__/mark/group-encode.test.ts
  packages/vgrammar-core/__tests__/mark/group.test.ts
  packages/vgrammar-core/__tests__/mark/rect.test.ts
  packages/vgrammar-core/__tests__/util.ts
Labels: test

fix: replace Math.min.apply by `minInArray()`
  packages/vgrammar-sankey/src/layout.ts
Labels: @pkg/sankey

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-hierarchy-sankey-sort-link_2023-11-27-08-09.json
Labels: none

fix: fix the issue that hierarchy sankey cannot sort link
  packages/vgrammar-sankey/__tests__/layout.test.ts
  packages/vgrammar-sankey/src/layout.ts
Labels: @pkg/sankey, test

fix: fix the animation issue of line when defined is set to line mark
  packages/vgrammar-core/__tests__/graph/attribute.test.ts
  packages/vgrammar-core/__tests__/mark/line.test.ts
  packages/vgrammar-core/src/graph/attributes/line.ts
  packages/vgrammar-core/src/graph/attributes/transform.ts
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-line-animation-with-defined_2023-11-28-07-22.json
Labels: none

fix: fix the animation issue of line when defined is set to line mark
  packages/vgrammar-core/__tests__/graph/attribute.test.ts
  packages/vgrammar-core/__tests__/mark/line.test.ts
  packages/vgrammar-core/src/graph/attributes/line.ts
  packages/vgrammar-core/src/graph/attributes/transform.ts
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-line-animation-with-defined_2023-11-28-07-22.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-line-animation-with-defined_2023-11-28-07-22.json
Labels: none

fix: fix the animation issue of line when defined is set to line mark
  packages/vgrammar-core/__tests__/graph/attribute.test.ts
  packages/vgrammar-core/__tests__/mark/line.test.ts
  packages/vgrammar-core/src/graph/attributes/line.ts
  packages/vgrammar-core/src/graph/attributes/transform.ts
  packages/vgrammar-core/src/graph/element.ts
Labels: @pkg/core

fix: fix the issue that hierarchy sankey cannot sort link
  packages/vgrammar-sankey/__tests__/layout.test.ts
  packages/vgrammar-sankey/src/layout.ts
Labels: @pkg/sankey, test

fix: replace Math.min.apply by `minInArray()`
  packages/vgrammar-sankey/src/layout.ts
Labels: @pkg/sankey

docs: fix the bug of example reference, remove duplicated livedemo
  docs/site/assets/guide/en/guides/chart.md
  docs/site/assets/guide/en/guides/marks/base.md
  docs/site/assets/guide/en/guides/marks/basic-mark.md
  docs/site/assets/guide/en/guides/marks/component.md
  docs/site/assets/guide/en/guides/marks/glyph-mark.md
  docs/site/assets/guide/en/guides/marks/semantic-mark.md
  docs/site/assets/guide/en/guides/quick-start.md
  docs/site/assets/guide/zh/guides/chart.md
  docs/site/assets/guide/zh/guides/marks/base.md
  docs/site/assets/guide/zh/guides/marks/basic-mark.md
  docs/site/assets/guide/zh/guides/marks/component.md
  docs/site/assets/guide/zh/guides/marks/glyph-mark.md
  docs/site/assets/guide/zh/guides/marks/semantic-mark.md
  docs/site/assets/guide/zh/guides/quick-start.md
  docs/site/libs/update-example-reference.js
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-hierarchy-sankey-sort-link_2023-11-27-08-09.json
Labels: none

chore: update workflow of sync main to develop
  .github/workflows/sync-develop.yml
Labels: none

fix: add `clear` to `encode()` and `encodeState()` in mark
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-clear-encode_2023-11-28-11-59.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-clear-encode_2023-11-28-11-59.json
Labels: none

fix: add `clear` to `encode()` and `encodeState()` in mark
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

chore: update workflow of sync main to develop
  .github/workflows/sync-develop.yml
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-clear-encode_2023-11-28-11-59.json
Labels: none

fix: replace Math.min.apply by `minInArray()`
  packages/vgrammar-sankey/src/layout.ts
Labels: @pkg/sankey

fix: fix the issue that hierarchy sankey cannot sort link
  packages/vgrammar-sankey/src/layout.ts
Labels: @pkg/sankey

fix: add `clear` to `encode()` and `encodeState()` in mark
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

fix: update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Labels: none

fix: update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vgrammar-core/fix-clear-encode_2023-11-28-11-59.json
Labels: none

fix: add `clear` to `encode()` and `encodeState()` in mark
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/view/mark.ts
Labels: @pkg/core

fix: replace Math.min.apply by `minInArray()`
  packages/vgrammar-sankey/src/layout.ts
Labels: @pkg/sankey

chore: update workflow of sync main to develop
  .github/workflows/sync-develop.yml
Labels: none

fix: fix the issue that hierarchy sankey cannot sort link
  packages/vgrammar-sankey/src/layout.ts
Labels: @pkg/sankey

fix: rect3d mark label
  packages/vgrammar-core/src/component/label.ts
Labels: @pkg/core

fix: rect3d mark label
  packages/vgrammar-core/src/component/label.ts
Labels: @pkg/core

test: update test cases releted to rects
  docs/dev-demos/src/api/glyph.ts
  docs/dev-demos/src/specs/large-glyph.ts
  packages/vgrammar-core/__tests__/glyph/boxplot.test.ts
  packages/vgrammar-core/__tests__/graph/attribute.test.ts
  packages/vgrammar-core/__tests__/mark/group.test.ts
  packages/vgrammar-core/__tests__/mark/rect.test.ts
  packages/vgrammar-plot/__tests__/marks/interval.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-x.test.ts
  packages/vgrammar-plot/__tests__/marks/rect-y.test.ts
  packages/vgrammar-plot/__tests__/marks/rect.test.ts
Labels: docs

feat: add optimize param to Stage
  packages/vgrammar-core/src/graph/canvas-renderer.ts
Labels: @pkg/core

fix: add props `skipDefault` to component when the `skipTheme` of mark is true
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/graph/util/graphic.ts
  packages/vgrammar-core/src/view/component.ts
Labels: @pkg/core

feat: glyph registers basic grphics
  packages/vgrammar-core/src/glyph/boxplot.ts
  packages/vgrammar-core/src/glyph/link-path.ts
  packages/vgrammar-core/src/glyph/ripple.ts
  packages/vgrammar-core/src/glyph/tree-path.ts
  packages/vgrammar-core/src/glyph/violin.ts
  packages/vgrammar-core/src/glyph/wave.ts
Labels: @pkg/core

feat: load graphic creator on demand
  packages/vgrammar-core/__tests__/transforms/jitter.test.ts
  packages/vgrammar-core/__tests__/util.ts
  packages/vgrammar-core/src/core/factory.ts
  packages/vgrammar-core/src/glyph/boxplot.ts
  packages/vgrammar-core/src/glyph/link-path.ts
  packages/vgrammar-core/src/glyph/ripple.ts
  packages/vgrammar-core/src/glyph/tree-path.ts
  packages/vgrammar-core/src/glyph/violin.ts
  packages/vgrammar-core/src/glyph/wave.ts
  packages/vgrammar-core/src/graph/mark/graphic.ts
  packages/vgrammar-core/src/graph/util/graphic.ts
  packages/vgrammar-core/src/index.ts
  packages/vgrammar-full/src/index.ts
  packages/vgrammar-plot/__tests__/util.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, test

test: fix unit test
  packages/vgrammar-core/__tests__/grammar/mark.test.ts
  packages/vgrammar-core/__tests__/mark/glyph.test.ts
  packages/vgrammar-core/__tests__/mark/group-encode.test.ts
  packages/vgrammar-core/__tests__/mark/group.test.ts
  packages/vgrammar-core/__tests__/mark/rect.test.ts
  packages/vgrammar-core/__tests__/util.ts
Labels: test

fix: refactor isMarkType
  packages/vgrammar-core/src/graph/util/graphic.ts
Labels: @pkg/core
