Repository VisActor/VGrammar, changes with the labels that .github/labeler.yml gives for each.
All labels: @pkg/core, @pkg/coordinate, @pkg/hierarchy, @pkg/projection, @pkg/sankey, @pkg/util, @pkg/wordcloud, @pkg/wordcloud-shape, test, docs, eslint, jest, typescript, bundler, chore

fix: `transformAttributes()` should not throw error when nextAttrs is null
  packages/vgrammar-core/src/graph/attributes/index.ts
Labels: @pkg/core

docs: update demos of sankey
  docs/dev-demos/src/specs/sankey-vertical.ts
  docs/dev-demos/src/specs/sankey.ts
Labels: docs

feat: support two different effect of sankey highlight
  docs/dev-demos/src/specs/sankey-hierarchy.ts
  docs/dev-demos/src/specs/sankey.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-sankey/src/sankey-highlight.ts
Labels: @pkg/core, @pkg/sankey, docs

fix: upgrade vscale and use fishEye() in scale
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/dev-demos/src/main.ts
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-core/src/interactions/fish-eye-util.ts
  packages/vgrammar-core/src/interactions/fish-eye.ts
  packages/vgrammar-core/src/interactions/view-navigation-base.ts
  packages/vgrammar-core/src/types/grammar.ts
  packages/vgrammar-core/src/view/scale.ts
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: @pkg/core, docs

fix: import type from "@visactor/vrender-core"
  packages/vgrammar-core/src/interactions/brush-active.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/brush-highlight.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

fix: component/tooltip should be deleted, fix the issue of rebase codes
  packages/vgrammar-core/src/component/tooltip.ts
Labels: @pkg/core

fix: register interactions in vgrammar-full
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/api/polar-line.ts
  docs/site/package.json
  packages/vgrammar-full/src/index.ts
Labels: docs

chore: update rush change log
  common/changes/@visactor/vgrammar-core/fix-exclude-animation-channels_2023-09-20-03-29.json
Labels: none

fix: exclude invalid animation channels
  common/config/rush/pnpm-lock.yaml
Labels: none

chore: upgrade vrender
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-core/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
Labels: docs

fix: fix animate performance issue
  common/changes/@visactor/vgrammar-core/fix-animate-performance_2023-10-10-02-43.json
  packages/vgrammar-core/src/graph/animation/animate.ts
  packages/vgrammar-core/src/graph/animation/attribute.ts
Labels: @pkg/core

refactor!: remove `cursor()` and `hover()`
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

feat: add interaction: element-highlight-by-name
  packages/vgrammar-core/src/interactions/element-highlight-by-name.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core

feat: add interactions and registers
  docs/dev-demos/src/main.ts
  docs/dev-demos/src/specs/simple-bar-chart.ts
  packages/vgrammar-core/src/core/factory.ts
  packages/vgrammar-core/src/graph/util/events-extend.ts
  packages/vgrammar-core/src/index.ts
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/element-hover.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/parse/event.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/index.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core, docs

feat: update element-active and element-select interactions
  docs/dev-demos/src/specs/simple-bar-chart.ts
  packages/vgrammar-core/src/index.ts
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, docs

feat: add new interactions: brush-active, brush-highlight
  packages/vgrammar-core/src/interactions/brush-active.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/brush-highlight.ts
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core

fix: fix brush-base
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
Labels: @pkg/core

fix: fix event definition of interactions
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/element-hover.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/view.ts
Labels: @pkg/core

feat: add selection interactions
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core

feat: support legend filter
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

feat: add tooltip interaction
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

chore: set interaction attribute protected
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-name.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
Labels: @pkg/core

feat: add filter interactions
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/scale.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

feat: support brush filter
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

feat: support drill-down & roll-up
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

refactor: refactor the `getEvents()` of interactions
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-name.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/legend-filter.ts
  packages/vgrammar-core/src/interactions/player-filter.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/scrollbar-filter.ts
  packages/vgrammar-core/src/interactions/slider-filter.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/interactions/view-drag.ts
  packages/vgrammar-core/src/interactions/view-roam.ts
  packages/vgrammar-core/src/interactions/view-scroll.ts
  packages/vgrammar-core/src/interactions/view-zoom.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core

chore: remove component interaction register
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core

feat: update documents
  docs/dev-demos/src/api/bar.ts
  docs/dev-demos/src/api/kde-bar.ts
  docs/dev-demos/src/api/line.ts
  docs/dev-demos/src/api/player.ts
  docs/dev-demos/src/api/scrollbar-filter.ts
  docs/dev-demos/src/api/scrollbar.ts
  docs/dev-demos/src/api/slider.ts
  docs/dev-demos/src/api/stack.ts
  docs/dev-demos/src/api/title.ts
  docs/site/assets/examples/en/basic-mark-rect/api-rect.md
  docs/site/assets/examples/en/component/player.md
  docs/site/assets/examples/zh/basic-mark-rect/api-rect.md
  docs/site/assets/examples/zh/component/player.md
  docs/site/assets/guide/en/guides/marks/component.md
  docs/site/assets/guide/zh/guides/marks/component.md
  docs/site/assets/option/en/marks/component.md
  docs/site/assets/option/en/marks/component/crosshair.md
  docs/site/assets/option/en/marks/component/tooltip.md
  docs/site/assets/option/zh/marks/component.md
  docs/site/assets/option/zh/marks/component/crosshair.md
  docs/site/assets/option/zh/marks/component/tooltip.md
  packages/vgrammar-core/src/types/mark.ts
  packages/vgrammar-plot/__tests__/components/grid.test.ts
  packages/vgrammar-plot/__tests__/components/title.test.ts
  packages/vgrammar-plot/src/semantic-mark.ts
Labels: @pkg/core, docs

feat: support multiple interaction
  docs/dev-demos/src/api/tooltip.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/types/view.ts
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core, docs

feat: support two different effect of sankey highlight
  docs/dev-demos/src/specs/sankey-hierarchy.ts
  docs/dev-demos/src/specs/sankey.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-sankey/src/sankey-highlight.ts
Labels: @pkg/core, @pkg/sankey, docs

feat: add interaction, sankey-highlight
  docs/dev-demos/src/specs/sankey-hierarchy.ts
  packages/vgrammar-sankey/src/index.ts
  packages/vgrammar-sankey/src/sankey-highlight.ts
Labels: @pkg/sankey, docs

feat: add rollup & drill down & popover demo
  docs/dev-demos/src/api/drill-down.ts
  docs/dev-demos/src/api/tooltip.ts
  docs/dev-demos/src/indexes.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/roll-up.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core, docs

feat: add view navigation interactions
  docs/dev-demos/src/specs/group-bar-chart.ts
  docs/dev-demos/src/specs/jitter-x-symbols.ts
  docs/dev-demos/src/specs/simple-bar-chart.ts
  docs/dev-demos/src/specs/zoomable-scatter-plot.ts
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/graph/element.ts
  packages/vgrammar-core/src/graph/enums.ts
  packages/vgrammar-core/src/interactions/brush-highlight.ts
  packages/vgrammar-core/src/interactions/index.ts
  packages/vgrammar-core/src/interactions/view-drag-mixin.ts
  packages/vgrammar-core/src/interactions/view-drag.ts
  packages/vgrammar-core/src/interactions/view-navigation-base.ts
  packages/vgrammar-core/src/interactions/view-roam.ts
  packages/vgrammar-core/src/interactions/view-scroll-mixin.ts
  packages/vgrammar-core/src/interactions/view-scroll.ts
  packages/vgrammar-core/src/interactions/view-utils.ts
  packages/vgrammar-core/src/interactions/view-zoom-mixin.ts
  packages/vgrammar-core/src/interactions/view-zoom.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/event.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-core/src/view/View.ts
  packages/vgrammar-core/src/view/mark.ts
  packages/vgrammar/src/index.ts
Labels: @pkg/core, docs

fix: fix crosshair point
  packages/vgrammar-core/src/interactions/crosshair.ts
Labels: @pkg/core

fix: optimize the type of view interactions
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/view-drag-mixin.ts
  packages/vgrammar-core/src/interactions/view-drag.ts
  packages/vgrammar-core/src/interactions/view-roam.ts
  packages/vgrammar-core/src/interactions/view-scroll.ts
  packages/vgrammar-core/src/interactions/view-zoom-mixin.ts
  packages/vgrammar-core/src/interactions/view-zoom.ts
Labels: @pkg/core

feat: add filter demo
  docs/dev-demos/src/api/brush.ts
  docs/dev-demos/src/api/player.ts
  docs/dev-demos/src/api/scrollbar-filter.ts
  docs/dev-demos/src/indexes.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/datazoom-filter.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/types/component.ts
  packages/vgrammar-core/src/types/interaction.ts
Labels: @pkg/core, docs

feat: support interaction in plot
  docs/dev-demos/src/plot/interval.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-plot/src/plot.ts
  packages/vgrammar-plot/src/semantic-mark.ts
Labels: @pkg/core, docs

feat: support dependencies for interaction
  packages/vgrammar-core/src/interactions/base-tooltip.ts
  packages/vgrammar-core/src/interactions/base.ts
  packages/vgrammar-core/src/interactions/brush-base.ts
  packages/vgrammar-core/src/interactions/crosshair.ts
  packages/vgrammar-core/src/interactions/dimension-tooltip.ts
  packages/vgrammar-core/src/interactions/element-active-by-legend.ts
  packages/vgrammar-core/src/interactions/element-active.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-group.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-key.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-legend.ts
  packages/vgrammar-core/src/interactions/element-highlight-by-name.ts
  packages/vgrammar-core/src/interactions/element-highlight.ts
  packages/vgrammar-core/src/interactions/element-select.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/tooltip.ts
  packages/vgrammar-core/src/types/interaction.ts
  packages/vgrammar-plot/src/semantic-mark.ts
Labels: @pkg/core

fix: remove mixin to register function
  packages/vgrammar-core/src/component/datazoom.ts
  packages/vgrammar-core/src/component/legend.ts
  packages/vgrammar-core/src/component/player.ts
  packages/vgrammar-core/src/component/scrollbar.ts
  packages/vgrammar-core/src/component/slider.ts
  packages/vgrammar-core/src/interactions/brush-filter.ts
  packages/vgrammar-core/src/interactions/drill-down.ts
  packages/vgrammar-core/src/interactions/filter.ts
  packages/vgrammar-core/src/interactions/index.ts
Labels: @pkg/core

docs: update demos of sankey
  docs/dev-demos/src/specs/sankey-vertical.ts
  docs/dev-demos/src/specs/sankey.ts
Labels: docs

.github/labeler.yml:

# Add 'core' label to any change within the 'core' package
'@pkg/core':
  - packages/vgrammar-core/src/**

# Add 'coordinate' label to any change within the 'core' package
'@pkg/coordinate':
  - packages/vgrammar-coordinate/src/**

# Add 'hierarchy' label to any change within the 'core' package
'@pkg/hierarchy':
  - packages/vgrammar-hierarchy/src/**

# Add 'projection' label to any change within the 'core' package
'@pkg/projection':
  - packages/vgrammar-projection/src/**

# Add 'sankey' label to any change within the 'core' package
'@pkg/sankey':
  - packages/vgrammar-sankey/src/**

# Add 'util' label to any change within the 'core' package
'@pkg/util':
  - packages/vgrammar-util/src/**

# Add 'wordcloud' label to any change within the 'core' package
'@pkg/wordcloud':
  - packages/vgrammar-wordcloud/src/**

# Add 'wordcloud-shape' label to any change within the 'core' package
'@pkg/wordcloud-shape':
  - packages/vgrammar-wordcloud-shape/src/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to docs/ files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to docs/ files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to docs/ files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json
  - packages/vgrammar/src/types/**
  - packages/vgrammar-coordinate/src/interface.ts

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/autoinstallers/**
  - common/git-hooks/**
  - common/scripts/**
