Repository VisActor/VGrammar, pull requests merged in 2023-09, with the labels that each got.

#164 Feat/scale identity and unknow
  common/changes/@visactor/vgrammar/feat-scale-identity-and-unknow_2023-08-29-07-40.json
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/__tests__/grammar/scale.test.ts
  packages/vgrammar/package.json
  packages/vgrammar/src/parse/scale.ts
  packages/vgrammar/src/types/scale.ts
  tools/bugserver-trigger/package.json
Labels: docs, typescript, @pkg/core

#166 Feat/transform fold unfold
  common/changes/@visactor/vgrammar/feat-transform-fold-unfold_2023-08-30-07-19.json
  docs/site/examples/menu.ts
  docs/site/examples/plot/connected-scatter-line.md
  packages/vgrammar/__tests__/transforms/fold.test.ts
  packages/vgrammar/__tests__/transforms/unfold.test.ts
  packages/vgrammar/src/transforms/data/fold.ts
  packages/vgrammar/src/transforms/data/unfold.ts
  packages/vgrammar/src/transforms/index.ts
  packages/vgrammar/src/types/transform.ts
Labels: docs, typescript, @pkg/core

#177 chore: fix the scripts of prerelease-version
  common/scripts/set-prerelease-version.js
  common/scripts/version-policies.js
Labels: chore

#176 Feat/symmetry
  docs/site/assets/examples/menu.json
  docs/site/assets/examples/zh/basic-mark-rect/symmetry-rect.md
  docs/site/assets/examples/zh/mark-interval/bar-symmetry-group.md
  docs/site/assets/examples/zh/mark-interval/bar-symmetry.md
  packages/vgrammar/__tests__/transforms/symmetry.test.ts
  packages/vgrammar/src/component/label.ts
  packages/vgrammar/src/transforms/index.ts
  packages/vgrammar/src/transforms/mark/symmetry.ts
  packages/vgrammar/src/types/transform.ts
Labels: docs, typescript, @pkg/core

#181 fix: support 3d mode for default component
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/dev-demos/src/api/line.ts
  docs/site/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-plot/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
  packages/vgrammar/src/component/axis.ts
  packages/vgrammar/src/component/index.ts
  packages/vgrammar/src/view/component.ts
  tools/bugserver-trigger/package.json
Labels: docs, @pkg/core

#183 revert: process label data by elements order
  packages/vgrammar/src/component/label.ts
Labels: @pkg/core

#199 fix: fix the issue that View can create customized component
  packages/vgrammar-core/src/view/View.ts
Labels: @pkg/core

#207 feat(label): pass over labelIndex in label component
  packages/vgrammar-core/src/component/label.ts
Labels: @pkg/core
