Repository VisActor/VGrammar, pull requests merged in 2023-08, with the labels that each got.

#86 chore: add unit test cases for vgrammar
  .vscode/launch.json
  common/config/rush/pnpm-lock.yaml
  docs/site/tutorials/marks/component.md
  docs/site/tutorials_en/marks/component.md
  packages/vgrammar/__tests__/component/axis.test.ts
  packages/vgrammar/__tests__/component/crosshair.test.ts
  packages/vgrammar/__tests__/component/datazoom.test.ts
  packages/vgrammar/__tests__/component/label.test.ts
  packages/vgrammar/__tests__/component/legend.test.ts
  packages/vgrammar/__tests__/component/player.test.ts
  packages/vgrammar/__tests__/component/slider.test.ts
  packages/vgrammar/__tests__/component/tooltip.test.ts
  packages/vgrammar/__tests__/glyph/boxplot.test.ts
  packages/vgrammar/__tests__/glyph/link-path.test.ts
  packages/vgrammar/__tests__/glyph/ripple.test.ts
  packages/vgrammar/__tests__/glyph/tree-path.test.ts
  packages/vgrammar/__tests__/glyph/wave.test.ts
  packages/vgrammar/__tests__/graph/attribute.test.ts
  packages/vgrammar/__tests__/graph/layout.test.ts
  packages/vgrammar/__tests__/graph/morph.ts
  packages/vgrammar/__tests__/transforms/dodge.test.ts
  packages/vgrammar/__tests__/transforms/funnel.test.ts
  packages/vgrammar/__tests__/transforms/identifier.test.ts
  packages/vgrammar/__tests__/transforms/lttb-sample.test.ts
  packages/vgrammar/__tests__/transforms/mark-overlap.test.ts
  packages/vgrammar/__tests__/transforms/stack.test.ts
  packages/vgrammar/__tests__/util.ts
  packages/vgrammar/__tests__/util/grammar-heap.test.ts
  packages/vgrammar/__tests__/util/unique-list.test.ts
  packages/vgrammar/src/component/axis.ts
  packages/vgrammar/src/glyph/boxplot.ts
  packages/vgrammar/src/transforms/data/funnel.ts
  packages/vgrammar/src/transforms/data/stack.ts
  packages/vgrammar/src/types/transform.ts
  packages/vgrammar/src/view/mark.ts
Labels: docs, typescript, @pkg/core, test

#89 fix: fix the segment animation issue
  docs/dev-demos/src/specs/simple-area-chart.ts
  packages/vgrammar/src/graph/animation/attribute.ts
  packages/vgrammar/src/graph/attributes/index.ts
Labels: docs, @pkg/core

#85 Feat/stream
  common/changes/@visactor/vgrammar-wordcloud/feat-stream_2023-08-01-11-45.json
  common/changes/@visactor/vgrammar/feat-stream_2023-08-01-11-45.json
  docs/dev-demos/src/api/stack.ts
  docs/dev-demos/src/api/stream.ts
  docs/dev-demos/src/indexes.ts
  docs/site/examples/animate/arrange-animate.md
  docs/site/examples/animate/basic-animate.md
  docs/site/examples/basic-mark-area/percent-area.md
  docs/site/examples/basic-mark-area/stack-area.md
  docs/site/examples/basic-mark-rect/percent-rect.md
  docs/site/examples/basic-mark-rect/stack-rect.md
  packages/vgrammar/__tests__/transforms/stack.test.ts
  packages/vgrammar/src/transforms/data/stack.ts
  packages/vgrammar/src/types/transform.ts
Labels: docs, typescript, @pkg/core

#98 chore: add unit test cases for vgrammar coordinate
  packages/vgrammar-coordinate/__tests__/cartesian.test.ts
  packages/vgrammar-coordinate/__tests__/polar.test.ts
  packages/vgrammar-coordinate/src/base.ts
  packages/vgrammar-coordinate/src/cartesian.ts
  packages/vgrammar-coordinate/src/interface.ts
  packages/vgrammar-coordinate/src/polar.ts
  packages/vgrammar/src/view/scale.ts
Labels: typescript, @pkg/core, test, @pkg/coordinate

#105 Feat/hierarchy transform flatten
  common/changes/@visactor/vgrammar-hierarchy/feat-hierarchy_2023-08-08-03-51.json
  common/changes/@visactor/vgrammar-wordcloud/feat-hierarchy_2023-08-08-03-51.json
  common/changes/@visactor/vgrammar/feat-hierarchy_2023-08-08-03-51.json
  packages/vgrammar-hierarchy/__tests__/transform.test.ts
  packages/vgrammar-hierarchy/src/circle-packing/transform.ts
  packages/vgrammar-hierarchy/src/interface.ts
  packages/vgrammar-hierarchy/src/sunburst/transform.ts
  packages/vgrammar-hierarchy/src/tree/transform.ts
  packages/vgrammar-hierarchy/src/treemap/transform.ts
Labels: @pkg/hierarchy, test

#107 style: use latest vrender and rename global to vglobal
  common/changes/@visactor/vgrammar-sankey/style-vrender-vglobal-refactor_2023-08-09-03-39.json
  common/changes/@visactor/vgrammar-wordcloud-shape/style-vrender-vglobal-refactor_2023-08-09-03-39.json
  common/changes/@visactor/vgrammar/style-vrender-vglobal-refactor_2023-08-09-03-39.json
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud-shape/src/util.ts
  packages/vgrammar-wordcloud-shape/src/wordcloud-shape.ts
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar-wordcloud/src/cloud-layout.ts
  packages/vgrammar/package.json
  packages/vgrammar/src/graph/util/env.ts
  packages/vgrammar/src/view/View.ts
Labels: docs, @pkg/core, @pkg/wordcloud, @pkg/wordcloud-shape

#108 Feat/violin
  common/changes/@visactor/vgrammar/feat-violin_2023-08-09-09-02.json
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/api/violin.ts
  docs/dev-demos/src/indexes.ts
  docs/site/examples/glyph-mark/violin.md
  docs/site/examples/menu.ts
  docs/site/tutorials/marks/glyph-mark.md
  packages/vgrammar/__tests__/glyph/boxplot.test.ts
  packages/vgrammar/__tests__/glyph/link-path.test.ts
  packages/vgrammar/__tests__/glyph/ripple.test.ts
  packages/vgrammar/__tests__/glyph/tree-path.test.ts
  packages/vgrammar/__tests__/glyph/violin.test.ts
  packages/vgrammar/__tests__/glyph/wave.test.ts
  packages/vgrammar/__tests__/graph/morph.test.ts
  packages/vgrammar/__tests__/util.ts
  packages/vgrammar/src/glyph/index.ts
  packages/vgrammar/src/glyph/violin.ts
  packages/vgrammar/src/types/grammar.ts
  packages/vgrammar/src/types/mark.ts
  packages/vgrammar/src/view/View.ts
  packages/vgrammar/src/view/mark.ts
Labels: docs, typescript, @pkg/core, test

#126 chore: remove out-of-date changelog and fix pre-release tasks
  .github/workflows/pre-release.yml
  common/changes/@visactor/vgrammar/fix-glyph-state_2023-08-03-07-39.json
  common/changes/@visactor/vgrammar/fix-wordCloud_2023-07-27-10-10.json
  common/scripts/pre-release.js
Labels: chore

#128 fix: fix the error of undefined stage
  common/changes/@visactor/vgrammar/fix-stage_undefined_error_2023-08-14-10-22.json
  packages/vgrammar/src/view/View.ts
  packages/vgrammar/src/view/mark.ts
Labels: @pkg/core

#137 Fix/runtime state
  common/changes/@visactor/vgrammar/fix-runtime-state_2023-08-18-03-50.json
  docs/dev-demos/src/specs/sankey-hierarchy.ts
  packages/vgrammar/__tests__/mark/element-state.test.ts
  packages/vgrammar/src/graph/element.ts
  packages/vgrammar/src/graph/glyph-element.ts
Labels: docs, @pkg/core

#150 Fix/wordcloud shape
  common/changes/@visactor/vgrammar/fix-wordcloud-shape_2023-08-24-12-17.json
  docs/dev-demos/package.json
  docs/dev-demos/src/plot/wordcloud-shape.ts
  packages/vgrammar-wordcloud-shape/src/wordcloud-shape.ts
Labels: docs, @pkg/wordcloud-shape

#151 Fix/group encode of group mark
  common/changes/@visactor/vgrammar/fix-group-encode-of-group-mark_2023-08-25-02-37.json
  packages/vgrammar/__tests__/mark/group-encode.test.ts
  packages/vgrammar/__tests__/util.ts
  packages/vgrammar/src/graph/attributes/index.ts
  packages/vgrammar/src/graph/element.ts
  packages/vgrammar/src/types/element.ts
  packages/vgrammar/src/types/grammar.ts
  packages/vgrammar/src/view/mark.ts
Labels: typescript, @pkg/core, test

#141 Fix/plot symbol line
  common/changes/@visactor/vgrammar/fix-plot-symbol-line_2023-08-22-03-30.json
  common/changes/@visactor/vgrammar/fix-plot-symbol-line_2023-08-22-03-32.json
  common/config/rush/pnpm-lock.yaml
  docs/site/examples/menu.ts
  docs/site/examples/plot/connected-scatter-line.md
  docs/site/examples/plot/plot-diverging-color-point.md
  docs/site/examples/plot/plot-line.md
  docs/site/examples/plot/plot-stack-point.md
  docs/site/examples/plot/plot-symbol-rule.md
  docs/site/examples/plot/plot-symbol.md
  docs/site/main.ts
  docs/site/package.json
  docs/site/vite.config.js
  packages/vgrammar-plot/src/area.ts
  packages/vgrammar-plot/src/cell.ts
  packages/vgrammar-plot/src/circle-packing.ts
  packages/vgrammar-plot/src/image.ts
  packages/vgrammar-plot/src/interval.ts
  packages/vgrammar-plot/src/line.ts
  packages/vgrammar-plot/src/path.ts
  packages/vgrammar-plot/src/plot.ts
  packages/vgrammar-plot/src/polygon.ts
  packages/vgrammar-plot/src/rect-x.ts
  packages/vgrammar-plot/src/rect-y.ts
  packages/vgrammar-plot/src/rect.ts
  packages/vgrammar-plot/src/rule-x.ts
  packages/vgrammar-plot/src/rule-y.ts
  packages/vgrammar-plot/src/rule.ts
  packages/vgrammar-plot/src/sankey.ts
  packages/vgrammar-plot/src/semantic-mark.ts
  packages/vgrammar-plot/src/sunburst.ts
  packages/vgrammar-plot/src/symbol.ts
  packages/vgrammar-plot/src/text.ts
  packages/vgrammar-plot/src/tree.ts
  packages/vgrammar-plot/src/treemap.ts
  packages/vgrammar-plot/src/wordcloud-shape.ts
  packages/vgrammar-plot/src/wordcloud.ts
  packages/vgrammar/src/component/legend.ts
  packages/vgrammar/src/types/component.ts
  packages/vgrammar/src/types/plot.ts
  packages/vgrammar/src/types/view.ts
  packages/vgrammar/src/view/View.ts
Labels: docs, typescript, @pkg/core

#167 fix: fix the animation unit parameters
  common/changes/@visactor/vgrammar/fix-unit-parameters_2023-08-30-09-17.json
  packages/vgrammar/src/graph/animation/animate.ts
  packages/vgrammar/src/view/grammar-base.ts
Labels: @pkg/core

#161 Feat/sankey gap function 2
  common/changes/@visactor/vgrammar/feat-sankey-gap-function_2023-08-28-07-34.json
  docs/dev-demos/src/data/sankey-simple.json
  docs/dev-demos/src/indexes.ts
  docs/dev-demos/src/specs/sankey-gap.ts
  docs/dev-demos/src/specs/sankey-hierarchy.ts
  packages/vgrammar-sankey/__tests__/data.ts
  packages/vgrammar-sankey/__tests__/layout.test.ts
  packages/vgrammar-sankey/src/interface.ts
  packages/vgrammar-sankey/src/layout.ts
Labels: docs, @pkg/sankey, test
