Repository VisActor/VGrammar, pull requests merged in 2023-06, with the labels that each got.

#22 refactor: remove fill stroke in component theme
  common/config/rush/pnpm-lock.yaml
  packages/vgrammar/src/component/legend.ts
Labels: @pkg/core

#23 Fix/fill stroke depends
  .github/ISSUE_TEMPLATE/bug_report.yml
  common/config/rush/pnpm-lock.yaml
  common/scripts/pre-release.js
  common/scripts/release.js
  docs/dev-demos/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
  rush.json
Labels: chore, docs

#25 Fix/reflect metadata
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
Labels: docs

#26 chore: add pre-release workflow
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  README.md
  common/autoinstallers/lint/change-all.ts
  common/autoinstallers/lint/package.json
  common/autoinstallers/lint/pnpm-lock.yaml
  common/config/rush/command-line.json
  common/scripts/parse-version.js
  common/scripts/pre-release.js
  packages/vgrammar-projection/package.json
Labels: chore

#28 Chore/release pr
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/pr_cn.md
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  common/git-hooks/pre-commit
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
  share/jest-config/jest.base.js
Labels: chore, jest

#29 Feat/tree path
  common/changes/@visactor/vgrammar/feat-tree-path_2023-06-16-03-50.json
  docs/dev-demos/src/specs/tree.ts
  packages/vgrammar/src/glyph/index.ts
  packages/vgrammar/src/glyph/link-path.ts
  packages/vgrammar/src/glyph/tree-path.ts
Labels: docs, @pkg/core

#32 Chore/bundler
  .github/workflows/bug-server.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  README.md
  common/autoinstallers/lint/change-all.ts
  common/config/rush/command-line.json
  packages/vgrammar/README.md
  tools/bundler/src/logic/rollup.config.ts
  tools/bundler/src/tasks/umd.ts
Labels: chore, bundler

#34 perf: call render immediately in evaluateSync
  common/changes/@visactor/vgrammar/perf-render-immediately_2023-06-25-07-26.json
  packages/vgrammar/src/graph/canvas-renderer.ts
  packages/vgrammar/src/types/renderer.ts
  packages/vgrammar/src/view/View.ts
Labels: typescript, @pkg/core

#38 fix: don't clear progressive when no update is need to be evaluated
  packages/vgrammar/src/view/View.ts
Labels: @pkg/core
