Repository VisActor/VGrammar, pull requests merged in 2023-07, with the labels that each got.

#47 Fix/ignore render
  common/changes/@visactor/vgrammar/develop_2023-07-05-11-18.json
  packages/vgrammar/src/types/view.ts
  packages/vgrammar/src/view/View.ts
Labels: typescript, @pkg/core

#48 Test/vgrammar utils
  common/changes/@visactor/vgrammar-coordinate/develop_2023-07-06-04-11.json
  common/changes/@visactor/vgrammar-hierarchy/develop_2023-07-06-04-11.json
  common/changes/@visactor/vgrammar-projection/develop_2023-07-06-04-11.json
  common/changes/@visactor/vgrammar-sankey/develop_2023-07-06-04-11.json
  common/changes/@visactor/vgrammar-util/develop_2023-07-06-04-11.json
  common/changes/@visactor/vgrammar-wordcloud-shape/develop_2023-07-06-04-11.json
  common/changes/@visactor/vgrammar-wordcloud/develop_2023-07-06-04-11.json
  common/changes/@visactor/vgrammar/develop_2023-07-06-04-11.json
  packages/vgrammar-coordinate/__tests__/tsconfig.json
  packages/vgrammar-coordinate/tsconfig.test.json
  packages/vgrammar-hierarchy/__tests__/tsconfig.json
  packages/vgrammar-hierarchy/tsconfig.test.json
  packages/vgrammar-projection/__tests__/tsconfig.json
  packages/vgrammar-projection/src/projection.ts
  packages/vgrammar-projection/tsconfig.test.json
  packages/vgrammar-sankey/__tests__/tsconfig.json
  packages/vgrammar-sankey/tsconfig.test.json
  packages/vgrammar-util/__tests__/accessor.test.ts
  packages/vgrammar-util/__tests__/accessors.test.ts
  packages/vgrammar-util/__tests__/extent.test.ts
  packages/vgrammar-util/__tests__/getter.test.ts
  packages/vgrammar-util/__tests__/isEqual.test.ts
  packages/vgrammar-util/__tests__/logger.test.ts
  packages/vgrammar-util/__tests__/mergeConfig.test.ts
  packages/vgrammar-util/__tests__/regression-linear.test.ts
  packages/vgrammar-util/__tests__/splitAccessPath.test.ts
  packages/vgrammar-util/__tests__/tsconfig.json
  packages/vgrammar-util/src/constants.ts
  packages/vgrammar-util/src/extent.ts
  packages/vgrammar-util/src/index.ts
  packages/vgrammar-util/src/logger.ts
  packages/vgrammar-util/src/mergeConfig.ts
  packages/vgrammar-util/src/regression-linear.ts
  packages/vgrammar-util/tsconfig.test.json
  packages/vgrammar-wordcloud-shape/__tests__/tsconfig.json
  packages/vgrammar-wordcloud-shape/tsconfig.test.json
  packages/vgrammar-wordcloud/__tests__/tsconfig.json
  packages/vgrammar-wordcloud/tsconfig.test.json
  packages/vgrammar/__tests__/tsconfig.json
  packages/vgrammar/src/graph/animation/config.ts
  packages/vgrammar/src/types/view.ts
  packages/vgrammar/src/view/View.ts
  packages/vgrammar/tsconfig.test.json
  share/jest-config/jest.base.js
Labels: typescript, @pkg/core, jest, @pkg/projection, @pkg/util, test

#51 Fix/upgrade vrender
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
  tools/bundler/src/logic/babel.config.ts
  tools/bundler/src/tasks/umd.ts
Labels: docs, bundler

#54 Docs/demo timeline
  .gitignore
  docs/site/api/view.md
  docs/site/api_en/component.md
  docs/site/api_en/coordinate.md
  docs/site/api_en/data.md
  docs/site/api_en/glyph-mark.md
  docs/site/api_en/group-mark.md
  docs/site/api_en/mark.md
  docs/site/api_en/projection.md
  docs/site/api_en/scale.md
  docs/site/api_en/signal.md
  docs/site/api_en/view.md
  docs/site/examples/animate/timeline.md
  docs/site/examples/basic-mark-arc/simple-pie.md
  docs/site/examples/menu.ts
  docs/site/index.html
  docs/site/tutorials/animation.md
  docs/site/tutorials/event.md
  docs/site/tutorials/website-guide.md
  docs/site/tutorials_en/advanced-guide.md
  docs/site/tutorials_en/animation.md
  docs/site/tutorials_en/chart.md
  docs/site/tutorials_en/event.md
  docs/site/tutorials_en/grammar-element.md
  docs/site/tutorials_en/layout.md
  docs/site/tutorials_en/marks/base.md
  docs/site/tutorials_en/marks/basic-mark.md
  docs/site/tutorials_en/marks/component.md
  docs/site/tutorials_en/marks/glyph-mark.md
  docs/site/tutorials_en/marks/semantic-mark.md
  docs/site/tutorials_en/quick-start.md
  docs/site/tutorials_en/website-guide.md
Labels: docs

#53 Test/hierarchy
  packages/vgrammar-coordinate/__tests__/tsconfig.json
  packages/vgrammar-hierarchy/__tests__/circle-packing.test.ts
  packages/vgrammar-hierarchy/__tests__/data/tree.ts
  packages/vgrammar-hierarchy/__tests__/format.test.ts
  packages/vgrammar-hierarchy/__tests__/sunburst.test.ts
  packages/vgrammar-hierarchy/__tests__/transform.test.ts
  packages/vgrammar-hierarchy/__tests__/tsconfig.json
  packages/vgrammar-hierarchy/src/format.ts
  packages/vgrammar-projection/__tests__/tsconfig.json
  packages/vgrammar-sankey/__tests__/tsconfig.json
  packages/vgrammar-util/__tests__/tsconfig.json
  packages/vgrammar-wordcloud-shape/__tests__/tsconfig.json
  packages/vgrammar-wordcloud/__tests__/tsconfig.json
  packages/vgrammar/__tests__/tsconfig.json
  share/jest-config/jest.base.js
Labels: jest, @pkg/hierarchy, test

#57 Fix/clear state of line
  common/changes/@visactor/vgrammar-coordinate/fix-clear_state_of_line_2023-07-12-07-46.json
  common/changes/@visactor/vgrammar-hierarchy/fix-clear_state_of_line_2023-07-12-07-46.json
  common/changes/@visactor/vgrammar-projection/fix-clear_state_of_line_2023-07-12-07-46.json
  common/changes/@visactor/vgrammar-sankey/fix-clear_state_of_line_2023-07-12-07-46.json
  common/changes/@visactor/vgrammar-util/fix-clear_state_of_line_2023-07-12-07-46.json
  common/changes/@visactor/vgrammar-wordcloud-shape/fix-clear_state_of_line_2023-07-12-07-46.json
  common/changes/@visactor/vgrammar-wordcloud/fix-clear_state_of_line_2023-07-12-07-46.json
  common/changes/@visactor/vgrammar/fix-clear_state_of_line_2023-07-12-07-46.json
  packages/vgrammar/__tests__/mark/group.test.ts
  packages/vgrammar/__tests__/mark/line.test.ts
  packages/vgrammar/__tests__/util.ts
  packages/vgrammar/src/graph/element.ts
  packages/vgrammar/src/view/mark.ts
Labels: @pkg/core, test

#62 Fix/released attribute
  common/changes/@visactor/vgrammar/fix-released-attribute_2023-07-13-13-07.json
  common/config/rush/pnpm-lock.yaml
  packages/vgrammar/src/graph/element.ts
  packages/vgrammar/src/graph/glyph-element.ts
Labels: @pkg/core

#58 Fix/projection register
  common/changes/@visactor/vgrammar-coordinate/fix-projection-register_2023-07-12-10-24.json
  common/changes/@visactor/vgrammar-hierarchy/fix-projection-register_2023-07-12-10-24.json
  common/changes/@visactor/vgrammar-projection/fix-projection-register_2023-07-12-10-24.json
  common/changes/@visactor/vgrammar-projection/fix-projection-register_2023-07-14-09-03.json
  common/changes/@visactor/vgrammar-sankey/fix-projection-register_2023-07-12-10-24.json
  common/changes/@visactor/vgrammar-util/fix-projection-register_2023-07-12-10-24.json
  common/changes/@visactor/vgrammar-wordcloud-shape/fix-projection-register_2023-07-12-10-24.json
  common/changes/@visactor/vgrammar-wordcloud/fix-projection-register_2023-07-12-10-24.json
  common/changes/@visactor/vgrammar/fix-projection-register_2023-07-12-10-24.json
  common/changes/@visactor/vgrammar/fix-projection-register_2023-07-14-09-03.json
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/indexes.ts
  docs/dev-demos/src/specs/geo-path.ts
  packages/vgrammar-projection/__tests__/data.ts
  packages/vgrammar-projection/__tests__/geo-path.test.ts
  packages/vgrammar-projection/__tests__/projection.test.ts
  packages/vgrammar-projection/__tests__/projections.test.ts
  packages/vgrammar-projection/__tests__/utils.ts
  packages/vgrammar-projection/jest.config.js
  packages/vgrammar-projection/package.json
  packages/vgrammar-projection/src/geo-path.ts
  packages/vgrammar-projection/src/index.ts
  packages/vgrammar-projection/src/interface.ts
  packages/vgrammar-projection/src/projection.ts
  packages/vgrammar-projection/src/projections.ts
  share/jest-config/jest.base.js
Labels: docs, jest, @pkg/projection, test

#60 Demo/area intersection
  docs/site/examples/basic-mark-area/intersection.md
  docs/site/examples/menu.ts
Labels: docs

#56 test: add test case for sankey
  packages/vgrammar-sankey/__tests__/data.ts
  packages/vgrammar-sankey/__tests__/format.test.ts
  packages/vgrammar-sankey/__tests__/layout.test.ts
  packages/vgrammar-sankey/__tests__/transform.test.ts
  packages/vgrammar-sankey/src/format.ts
  packages/vgrammar-sankey/src/interface.ts
Labels: @pkg/sankey, test

#64 Fix/mark type
  common/autoinstallers/lint/change-all.ts
  packages/vgrammar-util/__tests__/field.test.ts
  packages/vgrammar-util/src/field.ts
  packages/vgrammar/src/component/axis.ts
  packages/vgrammar/src/component/crosshair.ts
  packages/vgrammar/src/component/datazoom.ts
  packages/vgrammar/src/component/label.ts
  packages/vgrammar/src/component/legend.ts
  packages/vgrammar/src/component/player.ts
  packages/vgrammar/src/component/slider.ts
  packages/vgrammar/src/component/tooltip.ts
  packages/vgrammar/src/glyph/boxplot.ts
  packages/vgrammar/src/glyph/link-path.ts
  packages/vgrammar/src/glyph/ripple.ts
  packages/vgrammar/src/glyph/tree-path.ts
  packages/vgrammar/src/glyph/wave.ts
  packages/vgrammar/src/grammar-marks/cell.ts
  packages/vgrammar/src/grammar-marks/interval.ts
  packages/vgrammar/src/graph/element.ts
  packages/vgrammar/src/graph/mark/encode.ts
  packages/vgrammar/src/types/component.ts
  packages/vgrammar/src/types/element.ts
  packages/vgrammar/src/types/grammar.ts
  packages/vgrammar/src/types/mark.ts
  packages/vgrammar/src/types/signal.ts
  packages/vgrammar/src/view/component.ts
  packages/vgrammar/src/view/mark.ts
Labels: chore, typescript, @pkg/core, @pkg/util, test

#67 Feat/emit next render event
  common/changes/@visactor/vgrammar-projection/feat-emit-next-render-event_2023-07-19-02-37.json
  common/changes/@visactor/vgrammar-sankey/feat-emit-next-render-event_2023-07-19-02-37.json
  common/changes/@visactor/vgrammar-util/feat-emit-next-render-event_2023-07-19-02-37.json
  common/changes/@visactor/vgrammar/feat-emit-next-render-event_2023-07-19-02-37.json
  packages/vgrammar/src/graph/canvas-renderer.ts
  packages/vgrammar/src/graph/enums.ts
Labels: @pkg/core

#63 fix: fix the animation parameters for callbacks
  common/changes/@visactor/vgrammar/fix-animation-parameter_2023-07-17-03-22.json
  packages/vgrammar/src/graph/animation/animate.ts
  packages/vgrammar/src/graph/animation/animator.ts
  packages/vgrammar/src/graph/animation/attribute.ts
  packages/vgrammar/src/graph/constants.ts
  packages/vgrammar/src/types/animate.ts
Labels: typescript, @pkg/core

#68 Chore/test
  common/changes/@visactor/vgrammar-coordinate/fix-logger_2023-07-19-09-18.json
  common/changes/@visactor/vgrammar-hierarchy/fix-logger_2023-07-19-09-18.json
  common/changes/@visactor/vgrammar-projection/fix-logger_2023-07-19-09-18.json
  common/changes/@visactor/vgrammar-sankey/fix-logger_2023-07-19-09-18.json
  common/changes/@visactor/vgrammar-util/fix-logger_2023-07-19-09-18.json
  common/changes/@visactor/vgrammar-wordcloud-shape/fix-logger_2023-07-19-09-18.json
  common/changes/@visactor/vgrammar-wordcloud/fix-logger_2023-07-19-09-18.json
  common/changes/@visactor/vgrammar/fix-logger_2023-07-19-09-18.json
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
  packages/vgrammar/src/graph/canvas-renderer.ts
  packages/vgrammar/src/types/view.ts
  share/jest-config/jest.base.js
  share/jest-config/package.json
Labels: docs, typescript, @pkg/core, jest

#70 Fix/vutil logger
  common/changes/@visactor/vgrammar-coordinate/fix-vutil-logger_2023-07-19-13-21.json
  common/changes/@visactor/vgrammar-hierarchy/fix-vutil-logger_2023-07-19-13-21.json
  common/changes/@visactor/vgrammar-projection/fix-vutil-logger_2023-07-19-13-21.json
  common/changes/@visactor/vgrammar-sankey/fix-vutil-logger_2023-07-19-13-21.json
  common/changes/@visactor/vgrammar-util/fix-vutil-logger_2023-07-19-13-21.json
  common/changes/@visactor/vgrammar-wordcloud-shape/fix-vutil-logger_2023-07-19-13-21.json
  common/changes/@visactor/vgrammar-wordcloud/fix-vutil-logger_2023-07-19-13-21.json
  common/changes/@visactor/vgrammar/fix-vutil-logger_2023-07-19-13-21.json
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/site/package.json
  packages/vgrammar-coordinate/package.json
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-hierarchy/src/circle-packing/enclose.ts
  packages/vgrammar-projection/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-util/__tests__/logger.test.ts
  packages/vgrammar-util/package.json
  packages/vgrammar-util/src/error.ts
  packages/vgrammar-util/src/index.ts
  packages/vgrammar-util/src/logger.ts
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud-shape/src/util.ts
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
  packages/vgrammar/src/transforms/data/join.ts
  packages/vgrammar/src/types/view.ts
  packages/vgrammar/src/view/View.ts
  packages/vgrammar/src/view/dataflow.ts
Labels: docs, typescript, @pkg/core, @pkg/hierarchy, @pkg/util, @pkg/wordcloud-shape, test

#71 revert version of d3-geo from ^3.0.1 to ^1.12.1
  common/changes/@visactor/vgrammar-projection/fix-d3-geo-version_2023-07-21-08-01.json
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/src/data/world-2.json
  docs/dev-demos/src/data/world.json
  docs/dev-demos/src/indexes.ts
  docs/dev-demos/src/specs/projections-2.ts
  docs/dev-demos/src/specs/projections.ts
  packages/vgrammar-projection/package.json
  packages/vgrammar-projection/src/index.ts
Labels: docs, @pkg/projection

#77 chore: refactor ci trigger test script and support retry request whil…
  common/config/rush/pnpm-lock.yaml
  packages/vgrammar/github-ci.js
  packages/vgrammar/package.json
  packages/vgrammar/scripts/trigger-test.ts
  packages/vgrammar/scripts/tsconfig.json
  share/eslint-config/profile/common.js
Labels: eslint

#76 feat: add allAnimationStart&End event
  common/changes/@visactor/vgrammar/feat-allAnimationEnd_2023-07-26-08-23.json
  common/config/rush/pnpm-lock.yaml
  docs/dev-demos/package.json
  docs/dev-demos/src/api/arrange-animate.ts
  docs/dev-demos/src/api/bar.ts
  docs/dev-demos/src/specs/bar-animation.ts
  docs/site/package.json
  docs/site/tutorials/animation.md
  packages/vgrammar-hierarchy/package.json
  packages/vgrammar-sankey/package.json
  packages/vgrammar-wordcloud-shape/package.json
  packages/vgrammar-wordcloud/package.json
  packages/vgrammar/package.json
  packages/vgrammar/src/graph/animation/animate.ts
  packages/vgrammar/src/graph/enums.ts
  packages/vgrammar/src/types/animate.ts
  packages/vgrammar/src/types/event.ts
  packages/vgrammar/src/view/animate.ts
Labels: docs, typescript, @pkg/core

#78 Fix/wordcloud progressive
  common/changes/@visactor/vgrammar-hierarchy/fix-wordcloud-progressive_2023-07-27-06-52.json
  common/changes/@visactor/vgrammar-sankey/fix-wordcloud-progressive_2023-07-27-06-52.json
  common/changes/@visactor/vgrammar-wordcloud-shape/fix-wordcloud-progressive_2023-07-27-06-52.json
  common/changes/@visactor/vgrammar-wordcloud/fix-wordcloud-progressive_2023-07-27-06-52.json
  common/changes/@visactor/vgrammar/fix-wordcloud-progressive_2023-07-27-06-52.json
  packages/vgrammar-wordcloud/__tests__/wordcloud.test.ts
  packages/vgrammar/src/view/mark.ts
Labels: @pkg/core, test

#73 fix(vgrammar): fix TransformSpec of basic transforms
  packages/vgrammar/src/transforms/data/filter.ts
  packages/vgrammar/src/transforms/data/funnel.ts
  packages/vgrammar/src/transforms/data/join.ts
  packages/vgrammar/src/transforms/data/map.ts
  packages/vgrammar/src/transforms/data/pick.ts
  packages/vgrammar/src/transforms/data/pie.ts
  packages/vgrammar/src/transforms/data/range.ts
  packages/vgrammar/src/transforms/data/sort.ts
  packages/vgrammar/src/transforms/data/stack.ts
  packages/vgrammar/src/transforms/mark/dodge.ts
  packages/vgrammar/src/transforms/mark/lttb-sample.ts
  packages/vgrammar/src/transforms/mark/mark-overlap.ts
  packages/vgrammar/src/transforms/view/identifier.ts
  packages/vgrammar/src/types/transform.ts
Labels: typescript, @pkg/core

#81 fix: fix the issue of wrodCloud error reporting in non-integer canvas wh
  common/changes/@visactor/vgrammar-wordcloud/fix-wordCloud_2023-07-27-10-10.json
  packages/vgrammar-wordcloud/src/wordcloud.ts
Labels: @pkg/wordcloud
